<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.orderNote.home.createOrEditLabel"
          data-cy="OrderNoteCreateUpdateHeading"
          v-text="$t('slm2App.orderNote.home.createOrEditLabel')"
        >
          Create or edit a OrderNote
        </h2>
        <div>
          <div class="form-group" v-if="orderNote.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="orderNote.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderNote.note')" for="order-note-note">Note</label>
            <input
              type="text"
              class="form-control"
              name="note"
              id="order-note-note"
              data-cy="note"
              :class="{ valid: !$v.orderNote.note.$invalid, invalid: $v.orderNote.note.$invalid }"
              v-model="$v.orderNote.note.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderNote.createdBy')" for="order-note-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="order-note-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.orderNote.createdBy.$invalid, invalid: $v.orderNote.createdBy.$invalid }"
              v-model="$v.orderNote.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderNote.createdDate')" for="order-note-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="order-note-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.orderNote.createdDate.$invalid, invalid: $v.orderNote.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.orderNote.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderNote.lastModifiedBy')" for="order-note-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="order-note-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.orderNote.lastModifiedBy.$invalid, invalid: $v.orderNote.lastModifiedBy.$invalid }"
              v-model="$v.orderNote.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderNote.lastModifiedDate')" for="order-note-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="order-note-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.orderNote.lastModifiedDate.$invalid, invalid: $v.orderNote.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.orderNote.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderNote.version')" for="order-note-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="order-note-version"
              data-cy="version"
              :class="{ valid: !$v.orderNote.version.$invalid, invalid: $v.orderNote.version.$invalid }"
              v-model.number="$v.orderNote.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderNote.order')" for="order-note-order">Order</label>
            <select class="form-control" id="order-note-order" data-cy="order" name="order" v-model="orderNote.order" required>
              <option v-if="!orderNote.order" v-bind:value="null" selected></option>
              <option
                v-bind:value="orderNote.order && orderOption.id === orderNote.order.id ? orderNote.order : orderOption"
                v-for="orderOption in orders"
                :key="orderOption.id"
              >
                {{ orderOption.orderNo }}
              </option>
            </select>
          </div>
          <div v-if="$v.orderNote.order.$anyDirty && $v.orderNote.order.$invalid">
            <small class="form-text text-danger" v-if="!$v.orderNote.order.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.orderNote.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./order-note-update.component.ts"></script>
