<template>
  <div>
    <h2 id="page-heading" data-cy="OrderNoteHeading">
      <span v-text="$t('slm2App.orderNote.home.title')" id="order-note-heading">Order Notes</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.orderNote.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'OrderNoteCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-order-note"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.orderNote.home.createLabel')"> Create a new Order Note </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && orderNotes && orderNotes.length === 0">
      <span v-text="$t('slm2App.orderNote.home.notFound')">No orderNotes found</span>
    </div>
    <div class="table-responsive" v-if="orderNotes && orderNotes.length > 0">
      <table class="table table-striped" aria-describedby="orderNotes">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('note')">
              <span v-text="$t('slm2App.orderNote.note')">Note</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'note'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.orderNote.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.orderNote.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.orderNote.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.orderNote.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.orderNote.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('order.orderNo')">
              <span v-text="$t('slm2App.orderNote.order')">Order</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'order.orderNo'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="orderNote in orderNotes" :key="orderNote.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'OrderNoteView', params: { orderNoteId: orderNote.id } }">{{ orderNote.id }}</router-link>
            </td>
            <td>{{ orderNote.note }}</td>
            <td>{{ orderNote.createdBy }}</td>
            <td>{{ orderNote.createdDate ? $d(Date.parse(orderNote.createdDate), 'short') : '' }}</td>
            <td>{{ orderNote.lastModifiedBy }}</td>
            <td>{{ orderNote.lastModifiedDate ? $d(Date.parse(orderNote.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ orderNote.version }}</td>
            <td>
              <div v-if="orderNote.order">
                <router-link :to="{ name: 'OrderView', params: { orderId: orderNote.order.id } }">{{
                  orderNote.order.orderNo
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'OrderNoteView', params: { orderNoteId: orderNote.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'OrderNoteEdit', params: { orderNoteId: orderNote.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(orderNote)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="slm2App.orderNote.delete.question" data-cy="orderNoteDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-orderNote-heading" v-text="$t('slm2App.orderNote.delete.question', { id: removeId })">
          Are you sure you want to delete this Order Note?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-orderNote"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeOrderNote()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="orderNotes && orderNotes.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./order-note.component.ts"></script>
