<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="orderNote">
        <h2 class="jh-entity-heading" data-cy="orderNoteDetailsHeading">
          <span v-text="$t('slm2App.orderNote.detail.title')">OrderNote</span> {{ orderNote.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.orderNote.note')">Note</span>
          </dt>
          <dd>
            <span>{{ orderNote.note }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderNote.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ orderNote.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderNote.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="orderNote.createdDate">{{ $d(Date.parse(orderNote.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderNote.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ orderNote.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderNote.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="orderNote.lastModifiedDate">{{ $d(Date.parse(orderNote.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderNote.version')">Version</span>
          </dt>
          <dd>
            <span>{{ orderNote.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderNote.order')">Order</span>
          </dt>
          <dd>
            <div v-if="orderNote.order">
              <router-link :to="{ name: 'OrderView', params: { orderId: orderNote.order.id } }">{{ orderNote.order.orderNo }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="orderNote.id"
          :to="{ name: 'OrderNoteEdit', params: { orderNoteId: orderNote.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./order-note-details.component.ts"></script>
