<template>
  <div>
    <h2 id="page-heading" data-cy="FileHeading">
      <span v-text="$t('slm2App.file.home.title')" id="file-heading">Files</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.file.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'FileCreate' }" custom v-slot="{ navigate }">
          <button @click="navigate" id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-file">
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.file.home.createLabel')"> Create a new File </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && files && files.length === 0">
      <span v-text="$t('slm2App.file.home.notFound')">No files found</span>
    </div>
    <div class="table-responsive" v-if="files && files.length > 0">
      <table class="table table-striped" aria-describedby="files">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('name')">
              <span v-text="$t('slm2App.file.name')">Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('url')">
              <span v-text="$t('slm2App.file.url')">Url</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'url'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('mimeType')">
              <span v-text="$t('slm2App.file.mimeType')">Mime Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'mimeType'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.file.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.file.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.file.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.file.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.file.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('uploaderUser.login')">
              <span v-text="$t('slm2App.file.uploaderUser')">Uploader User</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'uploaderUser.login'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="file in files" :key="file.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'FileView', params: { fileId: file.id } }">{{ file.id }}</router-link>
            </td>
            <td>{{ file.name }}</td>
            <td>{{ file.url }}</td>
            <td>{{ file.mimeType }}</td>
            <td>{{ file.createdBy }}</td>
            <td>{{ file.createdDate ? $d(Date.parse(file.createdDate), 'short') : '' }}</td>
            <td>{{ file.lastModifiedBy }}</td>
            <td>{{ file.lastModifiedDate ? $d(Date.parse(file.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ file.version }}</td>
            <td>
              {{ file.uploaderUser ? file.uploaderUser.login : '' }}
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'FileView', params: { fileId: file.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'FileEdit', params: { fileId: file.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(file)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="slm2App.file.delete.question" data-cy="fileDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-file-heading" v-text="$t('slm2App.file.delete.question', { id: removeId })">
          Are you sure you want to delete this File?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-file"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeFile()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="files && files.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./file.component.ts"></script>
