<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="slm2App.file.home.createOrEditLabel" data-cy="FileCreateUpdateHeading" v-text="$t('slm2App.file.home.createOrEditLabel')">
          Create or edit a File
        </h2>
        <div>
          <div class="form-group" v-if="file.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="file.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.name')" for="file-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="file-name"
              data-cy="name"
              :class="{ valid: !$v.file.name.$invalid, invalid: $v.file.name.$invalid }"
              v-model="$v.file.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.url')" for="file-url">Url</label>
            <input
              type="text"
              class="form-control"
              name="url"
              id="file-url"
              data-cy="url"
              :class="{ valid: !$v.file.url.$invalid, invalid: $v.file.url.$invalid }"
              v-model="$v.file.url.$model"
              required
            />
            <div v-if="$v.file.url.$anyDirty && $v.file.url.$invalid">
              <small class="form-text text-danger" v-if="!$v.file.url.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.mimeType')" for="file-mimeType">Mime Type</label>
            <input
              type="text"
              class="form-control"
              name="mimeType"
              id="file-mimeType"
              data-cy="mimeType"
              :class="{ valid: !$v.file.mimeType.$invalid, invalid: $v.file.mimeType.$invalid }"
              v-model="$v.file.mimeType.$model"
              required
            />
            <div v-if="$v.file.mimeType.$anyDirty && $v.file.mimeType.$invalid">
              <small class="form-text text-danger" v-if="!$v.file.mimeType.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.createdBy')" for="file-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="file-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.file.createdBy.$invalid, invalid: $v.file.createdBy.$invalid }"
              v-model="$v.file.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.createdDate')" for="file-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="file-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.file.createdDate.$invalid, invalid: $v.file.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.file.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.lastModifiedBy')" for="file-lastModifiedBy">Last Modified By</label>
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="file-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.file.lastModifiedBy.$invalid, invalid: $v.file.lastModifiedBy.$invalid }"
              v-model="$v.file.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.lastModifiedDate')" for="file-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="file-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.file.lastModifiedDate.$invalid, invalid: $v.file.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.file.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.version')" for="file-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="file-version"
              data-cy="version"
              :class="{ valid: !$v.file.version.$invalid, invalid: $v.file.version.$invalid }"
              v-model.number="$v.file.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.file.uploaderUser')" for="file-uploaderUser">Uploader User</label>
            <select
              class="form-control"
              id="file-uploaderUser"
              data-cy="uploaderUser"
              name="uploaderUser"
              v-model="file.uploaderUser"
              required
            >
              <option v-if="!file.uploaderUser" v-bind:value="null" selected></option>
              <option
                v-bind:value="file.uploaderUser && userOption.id === file.uploaderUser.id ? file.uploaderUser : userOption"
                v-for="userOption in users"
                :key="userOption.id"
              >
                {{ userOption.login }}
              </option>
            </select>
          </div>
          <div v-if="$v.file.uploaderUser.$anyDirty && $v.file.uploaderUser.$invalid">
            <small class="form-text text-danger" v-if="!$v.file.uploaderUser.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.file.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./file-update.component.ts"></script>
