<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="file">
        <h2 class="jh-entity-heading" data-cy="fileDetailsHeading">
          <span v-text="$t('slm2App.file.detail.title')">File</span> {{ file.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.file.name')">Name</span>
          </dt>
          <dd>
            <span>{{ file.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.url')">Url</span>
          </dt>
          <dd>
            <span>{{ file.url }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.mimeType')">Mime Type</span>
          </dt>
          <dd>
            <span>{{ file.mimeType }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ file.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="file.createdDate">{{ $d(Date.parse(file.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ file.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="file.lastModifiedDate">{{ $d(Date.parse(file.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.version')">Version</span>
          </dt>
          <dd>
            <span>{{ file.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.file.uploaderUser')">Uploader User</span>
          </dt>
          <dd>
            {{ file.uploaderUser ? file.uploaderUser.login : '' }}
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="file.id" :to="{ name: 'FileEdit', params: { fileId: file.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./file-details.component.ts"></script>
