<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.order.home.createOrEditLabel"
          data-cy="OrderCreateUpdateHeading"
          v-text="$t('slm2App.order.home.createOrEditLabel')"
        >
          Create or edit a Order
        </h2>
        <div>
          <div class="form-group" v-if="order.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="order.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.orderNo')" for="order-orderNo">Order No</label>
            <input
              type="text"
              class="form-control"
              name="orderNo"
              id="order-orderNo"
              data-cy="orderNo"
              :class="{ valid: !$v.order.orderNo.$invalid, invalid: $v.order.orderNo.$invalid }"
              v-model="$v.order.orderNo.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.externalType')" for="order-externalType">External Type</label>
            <select
              class="form-control"
              name="externalType"
              :class="{ valid: !$v.order.externalType.$invalid, invalid: $v.order.externalType.$invalid }"
              v-model="$v.order.externalType.$model"
              id="order-externalType"
              data-cy="externalType"
            >
              <option
                v-for="externalType in externalTypeValues"
                :key="externalType"
                v-bind:value="externalType"
                v-bind:label="$t('slm2App.ExternalType.' + externalType)"
              >
                {{ externalType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.firstname')" for="order-firstname">Firstname</label>
            <input
              type="text"
              class="form-control"
              name="firstname"
              id="order-firstname"
              data-cy="firstname"
              :class="{ valid: !$v.order.firstname.$invalid, invalid: $v.order.firstname.$invalid }"
              v-model="$v.order.firstname.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.lastname')" for="order-lastname">Lastname</label>
            <input
              type="text"
              class="form-control"
              name="lastname"
              id="order-lastname"
              data-cy="lastname"
              :class="{ valid: !$v.order.lastname.$invalid, invalid: $v.order.lastname.$invalid }"
              v-model="$v.order.lastname.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.email')" for="order-email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="order-email"
              data-cy="email"
              :class="{ valid: !$v.order.email.$invalid, invalid: $v.order.email.$invalid }"
              v-model="$v.order.email.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.language')" for="order-language">Language</label>
            <input
              type="text"
              class="form-control"
              name="language"
              id="order-language"
              data-cy="language"
              :class="{ valid: !$v.order.language.$invalid, invalid: $v.order.language.$invalid }"
              v-model="$v.order.language.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.totalPrice')" for="order-totalPrice">Total Price</label>
            <input
              type="number"
              class="form-control"
              name="totalPrice"
              id="order-totalPrice"
              data-cy="totalPrice"
              :class="{ valid: !$v.order.totalPrice.$invalid, invalid: $v.order.totalPrice.$invalid }"
              v-model.number="$v.order.totalPrice.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.paymentGateway')" for="order-paymentGateway">Payment Gateway</label>
            <input
              type="text"
              class="form-control"
              name="paymentGateway"
              id="order-paymentGateway"
              data-cy="paymentGateway"
              :class="{ valid: !$v.order.paymentGateway.$invalid, invalid: $v.order.paymentGateway.$invalid }"
              v-model="$v.order.paymentGateway.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.status')" for="order-status">Status</label>
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.order.status.$invalid, invalid: $v.order.status.$invalid }"
              v-model="$v.order.status.$model"
              id="order-status"
              data-cy="status"
            >
              <option
                v-for="orderStatus in orderStatusValues"
                :key="orderStatus"
                v-bind:value="orderStatus"
                v-bind:label="$t('slm2App.OrderStatus.' + orderStatus)"
              >
                {{ orderStatus }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.ip')" for="order-ip">Ip</label>
            <input
              type="text"
              class="form-control"
              name="ip"
              id="order-ip"
              data-cy="ip"
              :class="{ valid: !$v.order.ip.$invalid, invalid: $v.order.ip.$invalid }"
              v-model="$v.order.ip.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.street')" for="order-street">Street</label>
            <input
              type="text"
              class="form-control"
              name="street"
              id="order-street"
              data-cy="street"
              :class="{ valid: !$v.order.street.$invalid, invalid: $v.order.street.$invalid }"
              v-model="$v.order.street.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.city')" for="order-city">City</label>
            <input
              type="text"
              class="form-control"
              name="city"
              id="order-city"
              data-cy="city"
              :class="{ valid: !$v.order.city.$invalid, invalid: $v.order.city.$invalid }"
              v-model="$v.order.city.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.province')" for="order-province">Province</label>
            <input
              type="text"
              class="form-control"
              name="province"
              id="order-province"
              data-cy="province"
              :class="{ valid: !$v.order.province.$invalid, invalid: $v.order.province.$invalid }"
              v-model="$v.order.province.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.country')" for="order-country">Country</label>
            <input
              type="text"
              class="form-control"
              name="country"
              id="order-country"
              data-cy="country"
              :class="{ valid: !$v.order.country.$invalid, invalid: $v.order.country.$invalid }"
              v-model="$v.order.country.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.zip')" for="order-zip">Zip</label>
            <input
              type="text"
              class="form-control"
              name="zip"
              id="order-zip"
              data-cy="zip"
              :class="{ valid: !$v.order.zip.$invalid, invalid: $v.order.zip.$invalid }"
              v-model="$v.order.zip.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.latitude')" for="order-latitude">Latitude</label>
            <input
              type="text"
              class="form-control"
              name="latitude"
              id="order-latitude"
              data-cy="latitude"
              :class="{ valid: !$v.order.latitude.$invalid, invalid: $v.order.latitude.$invalid }"
              v-model="$v.order.latitude.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.longitude')" for="order-longitude">Longitude</label>
            <input
              type="text"
              class="form-control"
              name="longitude"
              id="order-longitude"
              data-cy="longitude"
              :class="{ valid: !$v.order.longitude.$invalid, invalid: $v.order.longitude.$invalid }"
              v-model="$v.order.longitude.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.createdBy')" for="order-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="order-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.order.createdBy.$invalid, invalid: $v.order.createdBy.$invalid }"
              v-model="$v.order.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.createdDate')" for="order-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="order-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.order.createdDate.$invalid, invalid: $v.order.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.order.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.lastModifiedBy')" for="order-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="order-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.order.lastModifiedBy.$invalid, invalid: $v.order.lastModifiedBy.$invalid }"
              v-model="$v.order.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.lastModifiedDate')" for="order-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="order-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.order.lastModifiedDate.$invalid, invalid: $v.order.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.order.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.version')" for="order-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="order-version"
              data-cy="version"
              :class="{ valid: !$v.order.version.$invalid, invalid: $v.order.version.$invalid }"
              v-model.number="$v.order.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.order.shop')" for="order-shop">Shop</label>
            <select class="form-control" id="order-shop" data-cy="shop" name="shop" v-model="order.shop" required>
              <option v-if="!order.shop" v-bind:value="null" selected></option>
              <option
                v-bind:value="order.shop && shopOption.id === order.shop.id ? order.shop : shopOption"
                v-for="shopOption in shops"
                :key="shopOption.id"
              >
                {{ shopOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.order.shop.$anyDirty && $v.order.shop.$invalid">
            <small class="form-text text-danger" v-if="!$v.order.shop.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.order.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./order-update.component.ts"></script>
