<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="order">
        <h2 class="jh-entity-heading" data-cy="orderDetailsHeading">
          <span v-text="$t('slm2App.order.detail.title')">Order</span> {{ order.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.order.orderNo')">Order No</span>
          </dt>
          <dd>
            <span>{{ order.orderNo }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.externalType')">External Type</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.ExternalType.' + order.externalType)">{{ order.externalType }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.firstname')">Firstname</span>
          </dt>
          <dd>
            <span>{{ order.firstname }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.lastname')">Lastname</span>
          </dt>
          <dd>
            <span>{{ order.lastname }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.email')">Email</span>
          </dt>
          <dd>
            <span>{{ order.email }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.language')">Language</span>
          </dt>
          <dd>
            <span>{{ order.language }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.totalPrice')">Total Price</span>
          </dt>
          <dd>
            <span>{{ order.totalPrice }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.paymentGateway')">Payment Gateway</span>
          </dt>
          <dd>
            <span>{{ order.paymentGateway }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.OrderStatus.' + order.status)">{{ order.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.ip')">Ip</span>
          </dt>
          <dd>
            <span>{{ order.ip }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.street')">Street</span>
          </dt>
          <dd>
            <span>{{ order.street }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.city')">City</span>
          </dt>
          <dd>
            <span>{{ order.city }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.province')">Province</span>
          </dt>
          <dd>
            <span>{{ order.province }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.country')">Country</span>
          </dt>
          <dd>
            <span>{{ order.country }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.zip')">Zip</span>
          </dt>
          <dd>
            <span>{{ order.zip }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.latitude')">Latitude</span>
          </dt>
          <dd>
            <span>{{ order.latitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.longitude')">Longitude</span>
          </dt>
          <dd>
            <span>{{ order.longitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ order.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="order.createdDate">{{ $d(Date.parse(order.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ order.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="order.lastModifiedDate">{{ $d(Date.parse(order.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.version')">Version</span>
          </dt>
          <dd>
            <span>{{ order.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.order.shop')">Shop</span>
          </dt>
          <dd>
            <div v-if="order.shop">
              <router-link :to="{ name: 'ShopView', params: { shopId: order.shop.id } }">{{ order.shop.name }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="order.id" :to="{ name: 'OrderEdit', params: { orderId: order.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./order-details.component.ts"></script>
