<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.userShop.home.createOrEditLabel"
          data-cy="UserShopCreateUpdateHeading"
          v-text="$t('slm2App.userShop.home.createOrEditLabel')"
        >
          Create or edit a UserShop
        </h2>
        <div>
          <div class="form-group" v-if="userShop.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="userShop.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.role')" for="user-shop-role">Role</label>
            <select
              class="form-control"
              name="role"
              :class="{ valid: !$v.userShop.role.$invalid, invalid: $v.userShop.role.$invalid }"
              v-model="$v.userShop.role.$model"
              id="user-shop-role"
              data-cy="role"
              required
            >
              <option v-for="role in roleValues" :key="role" v-bind:value="role" v-bind:label="$t('slm2App.Role.' + role)">
                {{ role }}
              </option>
            </select>
            <div v-if="$v.userShop.role.$anyDirty && $v.userShop.role.$invalid">
              <small class="form-text text-danger" v-if="!$v.userShop.role.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.createdBy')" for="user-shop-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="user-shop-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.userShop.createdBy.$invalid, invalid: $v.userShop.createdBy.$invalid }"
              v-model="$v.userShop.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.createdDate')" for="user-shop-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="user-shop-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.userShop.createdDate.$invalid, invalid: $v.userShop.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.userShop.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.lastModifiedBy')" for="user-shop-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="user-shop-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.userShop.lastModifiedBy.$invalid, invalid: $v.userShop.lastModifiedBy.$invalid }"
              v-model="$v.userShop.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.lastModifiedDate')" for="user-shop-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="user-shop-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.userShop.lastModifiedDate.$invalid, invalid: $v.userShop.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.userShop.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.version')" for="user-shop-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="user-shop-version"
              data-cy="version"
              :class="{ valid: !$v.userShop.version.$invalid, invalid: $v.userShop.version.$invalid }"
              v-model.number="$v.userShop.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.user')" for="user-shop-user">User</label>
            <select class="form-control" id="user-shop-user" data-cy="user" name="user" v-model="userShop.user" required>
              <option v-if="!userShop.user" v-bind:value="null" selected></option>
              <option
                v-bind:value="userShop.user && userOption.id === userShop.user.id ? userShop.user : userOption"
                v-for="userOption in users"
                :key="userOption.id"
              >
                {{ userOption.login }}
              </option>
            </select>
          </div>
          <div v-if="$v.userShop.user.$anyDirty && $v.userShop.user.$invalid">
            <small class="form-text text-danger" v-if="!$v.userShop.user.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userShop.shop')" for="user-shop-shop">Shop</label>
            <select class="form-control" id="user-shop-shop" data-cy="shop" name="shop" v-model="userShop.shop" required>
              <option v-if="!userShop.shop" v-bind:value="null" selected></option>
              <option
                v-bind:value="userShop.shop && shopOption.id === userShop.shop.id ? userShop.shop : shopOption"
                v-for="shopOption in shops"
                :key="shopOption.id"
              >
                {{ shopOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.userShop.shop.$anyDirty && $v.userShop.shop.$invalid">
            <small class="form-text text-danger" v-if="!$v.userShop.shop.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.userShop.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./user-shop-update.component.ts"></script>
