<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="userShop">
        <h2 class="jh-entity-heading" data-cy="userShopDetailsHeading">
          <span v-text="$t('slm2App.userShop.detail.title')">UserShop</span> {{ userShop.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.userShop.role')">Role</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.Role.' + userShop.role)">{{ userShop.role }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userShop.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ userShop.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userShop.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="userShop.createdDate">{{ $d(Date.parse(userShop.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userShop.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ userShop.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userShop.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="userShop.lastModifiedDate">{{ $d(Date.parse(userShop.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userShop.version')">Version</span>
          </dt>
          <dd>
            <span>{{ userShop.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userShop.user')">User</span>
          </dt>
          <dd>
            {{ userShop.user ? userShop.user.login : '' }}
          </dd>
          <dt>
            <span v-text="$t('slm2App.userShop.shop')">Shop</span>
          </dt>
          <dd>
            <div v-if="userShop.shop">
              <router-link :to="{ name: 'ShopView', params: { shopId: userShop.shop.id } }">{{ userShop.shop.name }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="userShop.id" :to="{ name: 'UserShopEdit', params: { userShopId: userShop.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./user-shop-details.component.ts"></script>
