<template>
  <div>
    <b-dropdown-item to="/company">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.company')">Company</span>
    </b-dropdown-item>
    <b-dropdown-item to="/shop">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.shop')">Shop</span>
    </b-dropdown-item>
    <b-dropdown-item to="/user-company">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.userCompany')">User Company</span>
    </b-dropdown-item>
    <b-dropdown-item to="/user-shop">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.userShop')">User Shop</span>
    </b-dropdown-item>
    <b-dropdown-item to="/product-type">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.productType')">Product Type</span>
    </b-dropdown-item>
    <b-dropdown-item to="/product">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.product')">Product</span>
    </b-dropdown-item>
    <b-dropdown-item to="/order">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.order')">Order</span>
    </b-dropdown-item>
    <b-dropdown-item to="/order-item">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.orderItem')">Order Item</span>
    </b-dropdown-item>
    <b-dropdown-item to="/order-note">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.orderNote')">Order Note</span>
    </b-dropdown-item>
    <b-dropdown-item to="/order-approval-notification">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.orderApprovalNotification')">Order Approval Notification</span>
    </b-dropdown-item>
    <b-dropdown-item to="/default-email-template">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.defaultEmailTemplate')">Default Email Template</span>
    </b-dropdown-item>
    <b-dropdown-item to="/shop-email-template">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.shopEmailTemplate')">Shop Email Template</span>
    </b-dropdown-item>
    <b-dropdown-item to="/shop-smtp">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.shopSmtp')">Shop Smtp</span>
    </b-dropdown-item>
    <b-dropdown-item to="/shop-approval-rule">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.shopApprovalRule')">Shop Approval Rule</span>
    </b-dropdown-item>
    <b-dropdown-item to="/webhook-subscription">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.webhookSubscription')">Webhook Subscription</span>
    </b-dropdown-item>
    <b-dropdown-item to="/event-message">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.eventMessage')">Event Message</span>
    </b-dropdown-item>
    <b-dropdown-item to="/file">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.file')">File</span>
    </b-dropdown-item>
    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component.ts"></script>
