<template>
  <div>
    <h2 id="page-heading" data-cy="ShopApprovalRuleHeading">
      <span v-text="$t('slm2App.shopApprovalRule.home.title')" id="shop-approval-rule-heading">Shop Approval Rules</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.shopApprovalRule.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ShopApprovalRuleCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-shop-approval-rule"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.shopApprovalRule.home.createLabel')"> Create a new Shop Approval Rule </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && shopApprovalRules && shopApprovalRules.length === 0">
      <span v-text="$t('slm2App.shopApprovalRule.home.notFound')">No shopApprovalRules found</span>
    </div>
    <div class="table-responsive" v-if="shopApprovalRules && shopApprovalRules.length > 0">
      <table class="table table-striped" aria-describedby="shopApprovalRules">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('approvalRule')">
              <span v-text="$t('slm2App.shopApprovalRule.approvalRule')">Approval Rule</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'approvalRule'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('value')">
              <span v-text="$t('slm2App.shopApprovalRule.value')">Value</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'value'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.shopApprovalRule.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.shopApprovalRule.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.shopApprovalRule.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.shopApprovalRule.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.shopApprovalRule.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('shop.name')">
              <span v-text="$t('slm2App.shopApprovalRule.shop')">Shop</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'shop.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="shopApprovalRule in shopApprovalRules" :key="shopApprovalRule.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ShopApprovalRuleView', params: { shopApprovalRuleId: shopApprovalRule.id } }">{{
                shopApprovalRule.id
              }}</router-link>
            </td>
            <td v-text="$t('slm2App.ApprovalRule.' + shopApprovalRule.approvalRule)">{{ shopApprovalRule.approvalRule }}</td>
            <td>{{ shopApprovalRule.value }}</td>
            <td>{{ shopApprovalRule.createdBy }}</td>
            <td>{{ shopApprovalRule.createdDate ? $d(Date.parse(shopApprovalRule.createdDate), 'short') : '' }}</td>
            <td>{{ shopApprovalRule.lastModifiedBy }}</td>
            <td>{{ shopApprovalRule.lastModifiedDate ? $d(Date.parse(shopApprovalRule.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ shopApprovalRule.version }}</td>
            <td>
              <div v-if="shopApprovalRule.shop">
                <router-link :to="{ name: 'ShopView', params: { shopId: shopApprovalRule.shop.id } }">{{
                  shopApprovalRule.shop.name
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ShopApprovalRuleView', params: { shopApprovalRuleId: shopApprovalRule.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ShopApprovalRuleEdit', params: { shopApprovalRuleId: shopApprovalRule.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(shopApprovalRule)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="slm2App.shopApprovalRule.delete.question"
          data-cy="shopApprovalRuleDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-shopApprovalRule-heading" v-text="$t('slm2App.shopApprovalRule.delete.question', { id: removeId })">
          Are you sure you want to delete this Shop Approval Rule?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-shopApprovalRule"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeShopApprovalRule()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="shopApprovalRules && shopApprovalRules.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop-approval-rule.component.ts"></script>
