<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.shopApprovalRule.home.createOrEditLabel"
          data-cy="ShopApprovalRuleCreateUpdateHeading"
          v-text="$t('slm2App.shopApprovalRule.home.createOrEditLabel')"
        >
          Create or edit a ShopApprovalRule
        </h2>
        <div>
          <div class="form-group" v-if="shopApprovalRule.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="shopApprovalRule.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopApprovalRule.approvalRule')" for="shop-approval-rule-approvalRule"
              >Approval Rule</label
            >
            <select
              class="form-control"
              name="approvalRule"
              :class="{ valid: !$v.shopApprovalRule.approvalRule.$invalid, invalid: $v.shopApprovalRule.approvalRule.$invalid }"
              v-model="$v.shopApprovalRule.approvalRule.$model"
              id="shop-approval-rule-approvalRule"
              data-cy="approvalRule"
              required
            >
              <option
                v-for="approvalRule in approvalRuleValues"
                :key="approvalRule"
                v-bind:value="approvalRule"
                v-bind:label="$t('slm2App.ApprovalRule.' + approvalRule)"
              >
                {{ approvalRule }}
              </option>
            </select>
            <div v-if="$v.shopApprovalRule.approvalRule.$anyDirty && $v.shopApprovalRule.approvalRule.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.shopApprovalRule.approvalRule.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopApprovalRule.value')" for="shop-approval-rule-value">Value</label>
            <input
              type="text"
              class="form-control"
              name="value"
              id="shop-approval-rule-value"
              data-cy="value"
              :class="{ valid: !$v.shopApprovalRule.value.$invalid, invalid: $v.shopApprovalRule.value.$invalid }"
              v-model="$v.shopApprovalRule.value.$model"
              required
            />
            <div v-if="$v.shopApprovalRule.value.$anyDirty && $v.shopApprovalRule.value.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopApprovalRule.value.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopApprovalRule.createdBy')" for="shop-approval-rule-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="shop-approval-rule-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.shopApprovalRule.createdBy.$invalid, invalid: $v.shopApprovalRule.createdBy.$invalid }"
              v-model="$v.shopApprovalRule.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopApprovalRule.createdDate')" for="shop-approval-rule-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="shop-approval-rule-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.shopApprovalRule.createdDate.$invalid, invalid: $v.shopApprovalRule.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.shopApprovalRule.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopApprovalRule.lastModifiedBy')" for="shop-approval-rule-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="shop-approval-rule-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.shopApprovalRule.lastModifiedBy.$invalid, invalid: $v.shopApprovalRule.lastModifiedBy.$invalid }"
              v-model="$v.shopApprovalRule.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.shopApprovalRule.lastModifiedDate')"
              for="shop-approval-rule-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="shop-approval-rule-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.shopApprovalRule.lastModifiedDate.$invalid, invalid: $v.shopApprovalRule.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.shopApprovalRule.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopApprovalRule.version')" for="shop-approval-rule-version"
              >Version</label
            >
            <input
              type="number"
              class="form-control"
              name="version"
              id="shop-approval-rule-version"
              data-cy="version"
              :class="{ valid: !$v.shopApprovalRule.version.$invalid, invalid: $v.shopApprovalRule.version.$invalid }"
              v-model.number="$v.shopApprovalRule.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopApprovalRule.shop')" for="shop-approval-rule-shop">Shop</label>
            <select class="form-control" id="shop-approval-rule-shop" data-cy="shop" name="shop" v-model="shopApprovalRule.shop" required>
              <option v-if="!shopApprovalRule.shop" v-bind:value="null" selected></option>
              <option
                v-bind:value="shopApprovalRule.shop && shopOption.id === shopApprovalRule.shop.id ? shopApprovalRule.shop : shopOption"
                v-for="shopOption in shops"
                :key="shopOption.id"
              >
                {{ shopOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.shopApprovalRule.shop.$anyDirty && $v.shopApprovalRule.shop.$invalid">
            <small class="form-text text-danger" v-if="!$v.shopApprovalRule.shop.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.shopApprovalRule.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./shop-approval-rule-update.component.ts"></script>
