<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="shopApprovalRule">
        <h2 class="jh-entity-heading" data-cy="shopApprovalRuleDetailsHeading">
          <span v-text="$t('slm2App.shopApprovalRule.detail.title')">ShopApprovalRule</span> {{ shopApprovalRule.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.approvalRule')">Approval Rule</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.ApprovalRule.' + shopApprovalRule.approvalRule)">{{ shopApprovalRule.approvalRule }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.value')">Value</span>
          </dt>
          <dd>
            <span>{{ shopApprovalRule.value }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ shopApprovalRule.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="shopApprovalRule.createdDate">{{ $d(Date.parse(shopApprovalRule.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ shopApprovalRule.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="shopApprovalRule.lastModifiedDate">{{ $d(Date.parse(shopApprovalRule.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.version')">Version</span>
          </dt>
          <dd>
            <span>{{ shopApprovalRule.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopApprovalRule.shop')">Shop</span>
          </dt>
          <dd>
            <div v-if="shopApprovalRule.shop">
              <router-link :to="{ name: 'ShopView', params: { shopId: shopApprovalRule.shop.id } }">{{
                shopApprovalRule.shop.name
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="shopApprovalRule.id"
          :to="{ name: 'ShopApprovalRuleEdit', params: { shopApprovalRuleId: shopApprovalRule.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop-approval-rule-details.component.ts"></script>
