<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="slm2App.shop.home.createOrEditLabel" data-cy="ShopCreateUpdateHeading" v-text="$t('slm2App.shop.home.createOrEditLabel')">
          Create or edit a Shop
        </h2>
        <div>
          <div class="form-group" v-if="shop.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="shop.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.name')" for="shop-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="shop-name"
              data-cy="name"
              :class="{ valid: !$v.shop.name.$invalid, invalid: $v.shop.name.$invalid }"
              v-model="$v.shop.name.$model"
              required
            />
            <div v-if="$v.shop.name.$anyDirty && $v.shop.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.shop.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.url')" for="shop-url">Url</label>
            <input
              type="text"
              class="form-control"
              name="url"
              id="shop-url"
              data-cy="url"
              :class="{ valid: !$v.shop.url.$invalid, invalid: $v.shop.url.$invalid }"
              v-model="$v.shop.url.$model"
              required
            />
            <div v-if="$v.shop.url.$anyDirty && $v.shop.url.$invalid">
              <small class="form-text text-danger" v-if="!$v.shop.url.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.externalType')" for="shop-externalType">External Type</label>
            <select
              class="form-control"
              name="externalType"
              :class="{ valid: !$v.shop.externalType.$invalid, invalid: $v.shop.externalType.$invalid }"
              v-model="$v.shop.externalType.$model"
              id="shop-externalType"
              data-cy="externalType"
            >
              <option
                v-for="externalType in externalTypeValues"
                :key="externalType"
                v-bind:value="externalType"
                v-bind:label="$t('slm2App.ExternalType.' + externalType)"
              >
                {{ externalType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.authorizationCode')" for="shop-authorizationCode"
              >Authorization Code</label
            >
            <input
              type="text"
              class="form-control"
              name="authorizationCode"
              id="shop-authorizationCode"
              data-cy="authorizationCode"
              :class="{ valid: !$v.shop.authorizationCode.$invalid, invalid: $v.shop.authorizationCode.$invalid }"
              v-model="$v.shop.authorizationCode.$model"
            />
            <div v-if="$v.shop.authorizationCode.$anyDirty && $v.shop.authorizationCode.$invalid"></div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.generatedToken')" for="shop-generatedToken">Generated Token</label>
            <input
              type="text"
              class="form-control"
              name="generatedToken"
              id="shop-generatedToken"
              data-cy="generatedToken"
              :class="{ valid: !$v.shop.generatedToken.$invalid, invalid: $v.shop.generatedToken.$invalid }"
              v-model="$v.shop.generatedToken.$model"
            />
            <div v-if="$v.shop.generatedToken.$anyDirty && $v.shop.generatedToken.$invalid"></div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.accessToken')" for="shop-accessToken">Access Token</label>
            <input
              type="text"
              class="form-control"
              name="accessToken"
              id="shop-accessToken"
              data-cy="accessToken"
              :class="{ valid: !$v.shop.accessToken.$invalid, invalid: $v.shop.accessToken.$invalid }"
              v-model="$v.shop.accessToken.$model"
            />
            <div v-if="$v.shop.accessToken.$anyDirty && $v.shop.accessToken.$invalid"></div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.consumerKey')" for="shop-consumerKey">Consumer Key</label>
            <input
              type="text"
              class="form-control"
              name="consumerKey"
              id="shop-consumerKey"
              data-cy="consumerKey"
              :class="{ valid: !$v.shop.consumerKey.$invalid, invalid: $v.shop.consumerKey.$invalid }"
              v-model="$v.shop.consumerKey.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.consumerSecret')" for="shop-consumerSecret">Consumer Secret</label>
            <input
              type="text"
              class="form-control"
              name="consumerSecret"
              id="shop-consumerSecret"
              data-cy="consumerSecret"
              :class="{ valid: !$v.shop.consumerSecret.$invalid, invalid: $v.shop.consumerSecret.$invalid }"
              v-model="$v.shop.consumerSecret.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.createdBy')" for="shop-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="shop-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.shop.createdBy.$invalid, invalid: $v.shop.createdBy.$invalid }"
              v-model="$v.shop.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.createdDate')" for="shop-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="shop-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.shop.createdDate.$invalid, invalid: $v.shop.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.shop.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.lastModifiedBy')" for="shop-lastModifiedBy">Last Modified By</label>
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="shop-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.shop.lastModifiedBy.$invalid, invalid: $v.shop.lastModifiedBy.$invalid }"
              v-model="$v.shop.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.lastModifiedDate')" for="shop-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="shop-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.shop.lastModifiedDate.$invalid, invalid: $v.shop.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.shop.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.version')" for="shop-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="shop-version"
              data-cy="version"
              :class="{ valid: !$v.shop.version.$invalid, invalid: $v.shop.version.$invalid }"
              v-model.number="$v.shop.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.company')" for="shop-company">Company</label>
            <select class="form-control" id="shop-company" data-cy="company" name="company" v-model="shop.company" required>
              <option v-if="!shop.company" v-bind:value="null" selected></option>
              <option
                v-bind:value="shop.company && companyOption.id === shop.company.id ? shop.company : companyOption"
                v-for="companyOption in companies"
                :key="companyOption.id"
              >
                {{ companyOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.shop.company.$anyDirty && $v.shop.company.$invalid">
            <small class="form-text text-danger" v-if="!$v.shop.company.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shop.logoFile')" for="shop-logoFile">Logo File</label>
            <select class="form-control" id="shop-logoFile" data-cy="logoFile" name="logoFile" v-model="shop.logoFile">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="shop.logoFile && fileOption.id === shop.logoFile.id ? shop.logoFile : fileOption"
                v-for="fileOption in files"
                :key="fileOption.id"
              >
                {{ fileOption.name }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.shop.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./shop-update.component.ts"></script>
