<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="shop">
        <h2 class="jh-entity-heading" data-cy="shopDetailsHeading">
          <span v-text="$t('slm2App.shop.detail.title')">Shop</span> {{ shop.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.shop.name')">Name</span>
          </dt>
          <dd>
            <span>{{ shop.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.url')">Url</span>
          </dt>
          <dd>
            <span>{{ shop.url }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.externalType')">External Type</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.ExternalType.' + shop.externalType)">{{ shop.externalType }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.authorizationCode')">Authorization Code</span>
          </dt>
          <dd>
            <span>{{ shop.authorizationCode }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.generatedToken')">Generated Token</span>
          </dt>
          <dd>
            <span>{{ shop.generatedToken }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.accessToken')">Access Token</span>
          </dt>
          <dd>
            <span>{{ shop.accessToken }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.consumerKey')">Consumer Key</span>
          </dt>
          <dd>
            <span>{{ shop.consumerKey }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.consumerSecret')">Consumer Secret</span>
          </dt>
          <dd>
            <span>{{ shop.consumerSecret }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ shop.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="shop.createdDate">{{ $d(Date.parse(shop.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ shop.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="shop.lastModifiedDate">{{ $d(Date.parse(shop.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.version')">Version</span>
          </dt>
          <dd>
            <span>{{ shop.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.company')">Company</span>
          </dt>
          <dd>
            <div v-if="shop.company">
              <router-link :to="{ name: 'CompanyView', params: { companyId: shop.company.id } }">{{ shop.company.name }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shop.logoFile')">Logo File</span>
          </dt>
          <dd>
            <div v-if="shop.logoFile">
              <router-link :to="{ name: 'FileView', params: { fileId: shop.logoFile.id } }">{{ shop.logoFile.name }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="shop.id" :to="{ name: 'ShopEdit', params: { shopId: shop.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop-details.component.ts"></script>
