<template>
  <div>
    <h2 id="page-heading" data-cy="ShopHeading">
      <span v-text="$t('slm2App.shop.home.title')" id="shop-heading">Shops</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.shop.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ShopCreate' }" custom v-slot="{ navigate }">
          <button @click="navigate" id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-shop">
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.shop.home.createLabel')"> Create a new Shop </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && shops && shops.length === 0">
      <span v-text="$t('slm2App.shop.home.notFound')">No shops found</span>
    </div>
    <div class="table-responsive" v-if="shops && shops.length > 0">
      <table class="table table-striped" aria-describedby="shops">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('name')">
              <span v-text="$t('slm2App.shop.name')">Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('url')">
              <span v-text="$t('slm2App.shop.url')">Url</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'url'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('externalType')">
              <span v-text="$t('slm2App.shop.externalType')">External Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'externalType'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('authorizationCode')">
              <span v-text="$t('slm2App.shop.authorizationCode')">Authorization Code</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'authorizationCode'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('generatedToken')">
              <span v-text="$t('slm2App.shop.generatedToken')">Generated Token</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'generatedToken'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('accessToken')">
              <span v-text="$t('slm2App.shop.accessToken')">Access Token</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'accessToken'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('consumerKey')">
              <span v-text="$t('slm2App.shop.consumerKey')">Consumer Key</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'consumerKey'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('consumerSecret')">
              <span v-text="$t('slm2App.shop.consumerSecret')">Consumer Secret</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'consumerSecret'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.shop.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.shop.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.shop.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.shop.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.shop.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('company.name')">
              <span v-text="$t('slm2App.shop.company')">Company</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'company.name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('logoFile.name')">
              <span v-text="$t('slm2App.shop.logoFile')">Logo File</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'logoFile.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="shop in shops" :key="shop.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ShopView', params: { shopId: shop.id } }">{{ shop.id }}</router-link>
            </td>
            <td>{{ shop.name }}</td>
            <td>{{ shop.url }}</td>
            <td v-text="$t('slm2App.ExternalType.' + shop.externalType)">{{ shop.externalType }}</td>
            <td>{{ shop.authorizationCode }}</td>
            <td>{{ shop.generatedToken }}</td>
            <td>{{ shop.accessToken }}</td>
            <td>{{ shop.consumerKey }}</td>
            <td>{{ shop.consumerSecret }}</td>
            <td>{{ shop.createdBy }}</td>
            <td>{{ shop.createdDate ? $d(Date.parse(shop.createdDate), 'short') : '' }}</td>
            <td>{{ shop.lastModifiedBy }}</td>
            <td>{{ shop.lastModifiedDate ? $d(Date.parse(shop.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ shop.version }}</td>
            <td>
              <div v-if="shop.company">
                <router-link :to="{ name: 'CompanyView', params: { companyId: shop.company.id } }">{{ shop.company.name }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="shop.logoFile">
                <router-link :to="{ name: 'FileView', params: { fileId: shop.logoFile.id } }">{{ shop.logoFile.name }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'ShopView', params: { shopId: shop.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'ShopEdit', params: { shopId: shop.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(shop)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="slm2App.shop.delete.question" data-cy="shopDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-shop-heading" v-text="$t('slm2App.shop.delete.question', { id: removeId })">
          Are you sure you want to delete this Shop?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-shop"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeShop()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="shops && shops.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop.component.ts"></script>
