<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="company">
        <h2 class="jh-entity-heading" data-cy="companyDetailsHeading">
          <span v-text="$t('slm2App.company.detail.title')">Company</span> {{ company.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.company.name')">Name</span>
          </dt>
          <dd>
            <span>{{ company.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.company.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ company.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.company.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="company.createdDate">{{ $d(Date.parse(company.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.company.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ company.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.company.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="company.lastModifiedDate">{{ $d(Date.parse(company.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.company.version')">Version</span>
          </dt>
          <dd>
            <span>{{ company.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.company.logoFile')">Logo File</span>
          </dt>
          <dd>
            <div v-if="company.logoFile">
              <router-link :to="{ name: 'FileView', params: { fileId: company.logoFile.id } }">{{ company.logoFile.name }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="company.id" :to="{ name: 'CompanyEdit', params: { companyId: company.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./company-details.component.ts"></script>
