<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.company.home.createOrEditLabel"
          data-cy="CompanyCreateUpdateHeading"
          v-text="$t('slm2App.company.home.createOrEditLabel')"
        >
          Create or edit a Company
        </h2>
        <div>
          <div class="form-group" v-if="company.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="company.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.company.name')" for="company-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="company-name"
              data-cy="name"
              :class="{ valid: !$v.company.name.$invalid, invalid: $v.company.name.$invalid }"
              v-model="$v.company.name.$model"
              required
            />
            <div v-if="$v.company.name.$anyDirty && $v.company.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.company.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.company.createdBy')" for="company-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="company-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.company.createdBy.$invalid, invalid: $v.company.createdBy.$invalid }"
              v-model="$v.company.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.company.createdDate')" for="company-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="company-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.company.createdDate.$invalid, invalid: $v.company.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.company.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.company.lastModifiedBy')" for="company-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="company-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.company.lastModifiedBy.$invalid, invalid: $v.company.lastModifiedBy.$invalid }"
              v-model="$v.company.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.company.lastModifiedDate')" for="company-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="company-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.company.lastModifiedDate.$invalid, invalid: $v.company.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.company.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.company.version')" for="company-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="company-version"
              data-cy="version"
              :class="{ valid: !$v.company.version.$invalid, invalid: $v.company.version.$invalid }"
              v-model.number="$v.company.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.company.logoFile')" for="company-logoFile">Logo File</label>
            <select class="form-control" id="company-logoFile" data-cy="logoFile" name="logoFile" v-model="company.logoFile">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="company.logoFile && fileOption.id === company.logoFile.id ? company.logoFile : fileOption"
                v-for="fileOption in files"
                :key="fileOption.id"
              >
                {{ fileOption.name }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.company.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./company-update.component.ts"></script>
