<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.userCompany.home.createOrEditLabel"
          data-cy="UserCompanyCreateUpdateHeading"
          v-text="$t('slm2App.userCompany.home.createOrEditLabel')"
        >
          Create or edit a UserCompany
        </h2>
        <div>
          <div class="form-group" v-if="userCompany.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="userCompany.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.role')" for="user-company-role">Role</label>
            <select
              class="form-control"
              name="role"
              :class="{ valid: !$v.userCompany.role.$invalid, invalid: $v.userCompany.role.$invalid }"
              v-model="$v.userCompany.role.$model"
              id="user-company-role"
              data-cy="role"
              required
            >
              <option v-for="role in roleValues" :key="role" v-bind:value="role" v-bind:label="$t('slm2App.Role.' + role)">
                {{ role }}
              </option>
            </select>
            <div v-if="$v.userCompany.role.$anyDirty && $v.userCompany.role.$invalid">
              <small class="form-text text-danger" v-if="!$v.userCompany.role.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.permanent')" for="user-company-permanent">Permanent</label>
            <input
              type="checkbox"
              class="form-check"
              name="permanent"
              id="user-company-permanent"
              data-cy="permanent"
              :class="{ valid: !$v.userCompany.permanent.$invalid, invalid: $v.userCompany.permanent.$invalid }"
              v-model="$v.userCompany.permanent.$model"
              required
            />
            <div v-if="$v.userCompany.permanent.$anyDirty && $v.userCompany.permanent.$invalid">
              <small class="form-text text-danger" v-if="!$v.userCompany.permanent.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.createdBy')" for="user-company-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="user-company-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.userCompany.createdBy.$invalid, invalid: $v.userCompany.createdBy.$invalid }"
              v-model="$v.userCompany.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.createdDate')" for="user-company-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="user-company-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.userCompany.createdDate.$invalid, invalid: $v.userCompany.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.userCompany.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.lastModifiedBy')" for="user-company-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="user-company-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.userCompany.lastModifiedBy.$invalid, invalid: $v.userCompany.lastModifiedBy.$invalid }"
              v-model="$v.userCompany.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.lastModifiedDate')" for="user-company-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="user-company-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.userCompany.lastModifiedDate.$invalid, invalid: $v.userCompany.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.userCompany.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.version')" for="user-company-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="user-company-version"
              data-cy="version"
              :class="{ valid: !$v.userCompany.version.$invalid, invalid: $v.userCompany.version.$invalid }"
              v-model.number="$v.userCompany.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.user')" for="user-company-user">User</label>
            <select class="form-control" id="user-company-user" data-cy="user" name="user" v-model="userCompany.user" required>
              <option v-if="!userCompany.user" v-bind:value="null" selected></option>
              <option
                v-bind:value="userCompany.user && userOption.id === userCompany.user.id ? userCompany.user : userOption"
                v-for="userOption in users"
                :key="userOption.id"
              >
                {{ userOption.login }}
              </option>
            </select>
          </div>
          <div v-if="$v.userCompany.user.$anyDirty && $v.userCompany.user.$invalid">
            <small class="form-text text-danger" v-if="!$v.userCompany.user.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.userCompany.company')" for="user-company-company">Company</label>
            <select class="form-control" id="user-company-company" data-cy="company" name="company" v-model="userCompany.company" required>
              <option v-if="!userCompany.company" v-bind:value="null" selected></option>
              <option
                v-bind:value="userCompany.company && companyOption.id === userCompany.company.id ? userCompany.company : companyOption"
                v-for="companyOption in companies"
                :key="companyOption.id"
              >
                {{ companyOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.userCompany.company.$anyDirty && $v.userCompany.company.$invalid">
            <small class="form-text text-danger" v-if="!$v.userCompany.company.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.userCompany.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./user-company-update.component.ts"></script>
