<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="userCompany">
        <h2 class="jh-entity-heading" data-cy="userCompanyDetailsHeading">
          <span v-text="$t('slm2App.userCompany.detail.title')">UserCompany</span> {{ userCompany.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.userCompany.role')">Role</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.Role.' + userCompany.role)">{{ userCompany.role }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.permanent')">Permanent</span>
          </dt>
          <dd>
            <span>{{ userCompany.permanent }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ userCompany.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="userCompany.createdDate">{{ $d(Date.parse(userCompany.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ userCompany.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="userCompany.lastModifiedDate">{{ $d(Date.parse(userCompany.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.version')">Version</span>
          </dt>
          <dd>
            <span>{{ userCompany.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.user')">User</span>
          </dt>
          <dd>
            {{ userCompany.user ? userCompany.user.login : '' }}
          </dd>
          <dt>
            <span v-text="$t('slm2App.userCompany.company')">Company</span>
          </dt>
          <dd>
            <div v-if="userCompany.company">
              <router-link :to="{ name: 'CompanyView', params: { companyId: userCompany.company.id } }">{{
                userCompany.company.name
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="userCompany.id"
          :to="{ name: 'UserCompanyEdit', params: { userCompanyId: userCompany.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./user-company-details.component.ts"></script>
