<template>
  <div>
    <h2 id="page-heading" data-cy="UserCompanyHeading">
      <span v-text="$t('slm2App.userCompany.home.title')" id="user-company-heading">User Companies</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.userCompany.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'UserCompanyCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-user-company"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.userCompany.home.createLabel')"> Create a new User Company </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && userCompanies && userCompanies.length === 0">
      <span v-text="$t('slm2App.userCompany.home.notFound')">No userCompanies found</span>
    </div>
    <div class="table-responsive" v-if="userCompanies && userCompanies.length > 0">
      <table class="table table-striped" aria-describedby="userCompanies">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('role')">
              <span v-text="$t('slm2App.userCompany.role')">Role</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'role'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('permanent')">
              <span v-text="$t('slm2App.userCompany.permanent')">Permanent</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'permanent'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.userCompany.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.userCompany.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.userCompany.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.userCompany.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.userCompany.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('user.login')">
              <span v-text="$t('slm2App.userCompany.user')">User</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'user.login'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('company.name')">
              <span v-text="$t('slm2App.userCompany.company')">Company</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'company.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="userCompany in userCompanies" :key="userCompany.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'UserCompanyView', params: { userCompanyId: userCompany.id } }">{{ userCompany.id }}</router-link>
            </td>
            <td v-text="$t('slm2App.Role.' + userCompany.role)">{{ userCompany.role }}</td>
            <td>{{ userCompany.permanent }}</td>
            <td>{{ userCompany.createdBy }}</td>
            <td>{{ userCompany.createdDate ? $d(Date.parse(userCompany.createdDate), 'short') : '' }}</td>
            <td>{{ userCompany.lastModifiedBy }}</td>
            <td>{{ userCompany.lastModifiedDate ? $d(Date.parse(userCompany.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ userCompany.version }}</td>
            <td>
              {{ userCompany.user ? userCompany.user.login : '' }}
            </td>
            <td>
              <div v-if="userCompany.company">
                <router-link :to="{ name: 'CompanyView', params: { companyId: userCompany.company.id } }">{{
                  userCompany.company.name
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'UserCompanyView', params: { userCompanyId: userCompany.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'UserCompanyEdit', params: { userCompanyId: userCompany.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(userCompany)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="slm2App.userCompany.delete.question" data-cy="userCompanyDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-userCompany-heading" v-text="$t('slm2App.userCompany.delete.question', { id: removeId })">
          Are you sure you want to delete this User Company?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-userCompany"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeUserCompany()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="userCompanies && userCompanies.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./user-company.component.ts"></script>
