<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="webhookSubscription">
        <h2 class="jh-entity-heading" data-cy="webhookSubscriptionDetailsHeading">
          <span v-text="$t('slm2App.webhookSubscription.detail.title')">WebhookSubscription</span> {{ webhookSubscription.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.externalId')">External Id</span>
          </dt>
          <dd>
            <span>{{ webhookSubscription.externalId }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.type')">Type</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.WebhookType.' + webhookSubscription.type)">{{ webhookSubscription.type }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ webhookSubscription.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="webhookSubscription.createdDate">{{ $d(Date.parse(webhookSubscription.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ webhookSubscription.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="webhookSubscription.lastModifiedDate">{{ $d(Date.parse(webhookSubscription.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.version')">Version</span>
          </dt>
          <dd>
            <span>{{ webhookSubscription.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.webhookSubscription.shop')">Shop</span>
          </dt>
          <dd>
            <div v-if="webhookSubscription.shop">
              <router-link :to="{ name: 'ShopView', params: { shopId: webhookSubscription.shop.id } }">{{
                webhookSubscription.shop.name
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="webhookSubscription.id"
          :to="{ name: 'WebhookSubscriptionEdit', params: { webhookSubscriptionId: webhookSubscription.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./webhook-subscription-details.component.ts"></script>
