<template>
  <div>
    <h2 id="page-heading" data-cy="WebhookSubscriptionHeading">
      <span v-text="$t('slm2App.webhookSubscription.home.title')" id="webhook-subscription-heading">Webhook Subscriptions</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.webhookSubscription.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'WebhookSubscriptionCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-webhook-subscription"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.webhookSubscription.home.createLabel')"> Create a new Webhook Subscription </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && webhookSubscriptions && webhookSubscriptions.length === 0">
      <span v-text="$t('slm2App.webhookSubscription.home.notFound')">No webhookSubscriptions found</span>
    </div>
    <div class="table-responsive" v-if="webhookSubscriptions && webhookSubscriptions.length > 0">
      <table class="table table-striped" aria-describedby="webhookSubscriptions">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('externalId')">
              <span v-text="$t('slm2App.webhookSubscription.externalId')">External Id</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'externalId'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('type')">
              <span v-text="$t('slm2App.webhookSubscription.type')">Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'type'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.webhookSubscription.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.webhookSubscription.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.webhookSubscription.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.webhookSubscription.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.webhookSubscription.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('shop.name')">
              <span v-text="$t('slm2App.webhookSubscription.shop')">Shop</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'shop.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="webhookSubscription in webhookSubscriptions" :key="webhookSubscription.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'WebhookSubscriptionView', params: { webhookSubscriptionId: webhookSubscription.id } }">{{
                webhookSubscription.id
              }}</router-link>
            </td>
            <td>{{ webhookSubscription.externalId }}</td>
            <td v-text="$t('slm2App.WebhookType.' + webhookSubscription.type)">{{ webhookSubscription.type }}</td>
            <td>{{ webhookSubscription.createdBy }}</td>
            <td>{{ webhookSubscription.createdDate ? $d(Date.parse(webhookSubscription.createdDate), 'short') : '' }}</td>
            <td>{{ webhookSubscription.lastModifiedBy }}</td>
            <td>{{ webhookSubscription.lastModifiedDate ? $d(Date.parse(webhookSubscription.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ webhookSubscription.version }}</td>
            <td>
              <div v-if="webhookSubscription.shop">
                <router-link :to="{ name: 'ShopView', params: { shopId: webhookSubscription.shop.id } }">{{
                  webhookSubscription.shop.name
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'WebhookSubscriptionView', params: { webhookSubscriptionId: webhookSubscription.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'WebhookSubscriptionEdit', params: { webhookSubscriptionId: webhookSubscription.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(webhookSubscription)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="slm2App.webhookSubscription.delete.question"
          data-cy="webhookSubscriptionDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-webhookSubscription-heading" v-text="$t('slm2App.webhookSubscription.delete.question', { id: removeId })">
          Are you sure you want to delete this Webhook Subscription?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-webhookSubscription"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeWebhookSubscription()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="webhookSubscriptions && webhookSubscriptions.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./webhook-subscription.component.ts"></script>
