<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.webhookSubscription.home.createOrEditLabel"
          data-cy="WebhookSubscriptionCreateUpdateHeading"
          v-text="$t('slm2App.webhookSubscription.home.createOrEditLabel')"
        >
          Create or edit a WebhookSubscription
        </h2>
        <div>
          <div class="form-group" v-if="webhookSubscription.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="webhookSubscription.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.webhookSubscription.externalId')" for="webhook-subscription-externalId"
              >External Id</label
            >
            <input
              type="text"
              class="form-control"
              name="externalId"
              id="webhook-subscription-externalId"
              data-cy="externalId"
              :class="{ valid: !$v.webhookSubscription.externalId.$invalid, invalid: $v.webhookSubscription.externalId.$invalid }"
              v-model="$v.webhookSubscription.externalId.$model"
              required
            />
            <div v-if="$v.webhookSubscription.externalId.$anyDirty && $v.webhookSubscription.externalId.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.webhookSubscription.externalId.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.webhookSubscription.type')" for="webhook-subscription-type">Type</label>
            <select
              class="form-control"
              name="type"
              :class="{ valid: !$v.webhookSubscription.type.$invalid, invalid: $v.webhookSubscription.type.$invalid }"
              v-model="$v.webhookSubscription.type.$model"
              id="webhook-subscription-type"
              data-cy="type"
              required
            >
              <option
                v-for="webhookType in webhookTypeValues"
                :key="webhookType"
                v-bind:value="webhookType"
                v-bind:label="$t('slm2App.WebhookType.' + webhookType)"
              >
                {{ webhookType }}
              </option>
            </select>
            <div v-if="$v.webhookSubscription.type.$anyDirty && $v.webhookSubscription.type.$invalid">
              <small class="form-text text-danger" v-if="!$v.webhookSubscription.type.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.webhookSubscription.createdBy')" for="webhook-subscription-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="webhook-subscription-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.webhookSubscription.createdBy.$invalid, invalid: $v.webhookSubscription.createdBy.$invalid }"
              v-model="$v.webhookSubscription.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.webhookSubscription.createdDate')" for="webhook-subscription-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="webhook-subscription-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.webhookSubscription.createdDate.$invalid, invalid: $v.webhookSubscription.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.webhookSubscription.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.webhookSubscription.lastModifiedBy')"
              for="webhook-subscription-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="webhook-subscription-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.webhookSubscription.lastModifiedBy.$invalid, invalid: $v.webhookSubscription.lastModifiedBy.$invalid }"
              v-model="$v.webhookSubscription.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.webhookSubscription.lastModifiedDate')"
              for="webhook-subscription-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="webhook-subscription-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{
                  valid: !$v.webhookSubscription.lastModifiedDate.$invalid,
                  invalid: $v.webhookSubscription.lastModifiedDate.$invalid,
                }"
                :value="convertDateTimeFromServer($v.webhookSubscription.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.webhookSubscription.version')" for="webhook-subscription-version"
              >Version</label
            >
            <input
              type="number"
              class="form-control"
              name="version"
              id="webhook-subscription-version"
              data-cy="version"
              :class="{ valid: !$v.webhookSubscription.version.$invalid, invalid: $v.webhookSubscription.version.$invalid }"
              v-model.number="$v.webhookSubscription.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.webhookSubscription.shop')" for="webhook-subscription-shop">Shop</label>
            <select
              class="form-control"
              id="webhook-subscription-shop"
              data-cy="shop"
              name="shop"
              v-model="webhookSubscription.shop"
              required
            >
              <option v-if="!webhookSubscription.shop" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  webhookSubscription.shop && shopOption.id === webhookSubscription.shop.id ? webhookSubscription.shop : shopOption
                "
                v-for="shopOption in shops"
                :key="shopOption.id"
              >
                {{ shopOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.webhookSubscription.shop.$anyDirty && $v.webhookSubscription.shop.$invalid">
            <small class="form-text text-danger" v-if="!$v.webhookSubscription.shop.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.webhookSubscription.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./webhook-subscription-update.component.ts"></script>
