<template>
  <div>
    <h2 id="page-heading" data-cy="EventMessageHeading">
      <span v-text="$t('slm2App.eventMessage.home.title')" id="event-message-heading">Event Messages</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.eventMessage.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'EventMessageCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-event-message"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.eventMessage.home.createLabel')"> Create a new Event Message </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && eventMessages && eventMessages.length === 0">
      <span v-text="$t('slm2App.eventMessage.home.notFound')">No eventMessages found</span>
    </div>
    <div class="table-responsive" v-if="eventMessages && eventMessages.length > 0">
      <table class="table table-striped" aria-describedby="eventMessages">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('payload')">
              <span v-text="$t('slm2App.eventMessage.payload')">Payload</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'payload'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('header')">
              <span v-text="$t('slm2App.eventMessage.header')">Header</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'header'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('status')">
              <span v-text="$t('slm2App.eventMessage.status')">Status</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'status'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('notes')">
              <span v-text="$t('slm2App.eventMessage.notes')">Notes</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'notes'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.eventMessage.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.eventMessage.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.eventMessage.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.eventMessage.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.eventMessage.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('order.orderNo')">
              <span v-text="$t('slm2App.eventMessage.order')">Order</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'order.orderNo'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="eventMessage in eventMessages" :key="eventMessage.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'EventMessageView', params: { eventMessageId: eventMessage.id } }">{{
                eventMessage.id
              }}</router-link>
            </td>
            <td>{{ eventMessage.payload }}</td>
            <td>{{ eventMessage.header }}</td>
            <td v-text="$t('slm2App.EventMessageStatus.' + eventMessage.status)">{{ eventMessage.status }}</td>
            <td>{{ eventMessage.notes }}</td>
            <td>{{ eventMessage.createdBy }}</td>
            <td>{{ eventMessage.createdDate ? $d(Date.parse(eventMessage.createdDate), 'short') : '' }}</td>
            <td>{{ eventMessage.lastModifiedBy }}</td>
            <td>{{ eventMessage.lastModifiedDate ? $d(Date.parse(eventMessage.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ eventMessage.version }}</td>
            <td>
              <div v-if="eventMessage.order">
                <router-link :to="{ name: 'OrderView', params: { orderId: eventMessage.order.id } }">{{
                  eventMessage.order.orderNo
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'EventMessageView', params: { eventMessageId: eventMessage.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'EventMessageEdit', params: { eventMessageId: eventMessage.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(eventMessage)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="slm2App.eventMessage.delete.question" data-cy="eventMessageDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-eventMessage-heading" v-text="$t('slm2App.eventMessage.delete.question', { id: removeId })">
          Are you sure you want to delete this Event Message?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-eventMessage"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeEventMessage()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="eventMessages && eventMessages.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./event-message.component.ts"></script>
