<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.eventMessage.home.createOrEditLabel"
          data-cy="EventMessageCreateUpdateHeading"
          v-text="$t('slm2App.eventMessage.home.createOrEditLabel')"
        >
          Create or edit a EventMessage
        </h2>
        <div>
          <div class="form-group" v-if="eventMessage.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="eventMessage.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.payload')" for="event-message-payload">Payload</label>
            <textarea
              class="form-control"
              name="payload"
              id="event-message-payload"
              data-cy="payload"
              :class="{ valid: !$v.eventMessage.payload.$invalid, invalid: $v.eventMessage.payload.$invalid }"
              v-model="$v.eventMessage.payload.$model"
              required
            ></textarea>
            <div v-if="$v.eventMessage.payload.$anyDirty && $v.eventMessage.payload.$invalid">
              <small class="form-text text-danger" v-if="!$v.eventMessage.payload.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.header')" for="event-message-header">Header</label>
            <textarea
              class="form-control"
              name="header"
              id="event-message-header"
              data-cy="header"
              :class="{ valid: !$v.eventMessage.header.$invalid, invalid: $v.eventMessage.header.$invalid }"
              v-model="$v.eventMessage.header.$model"
              required
            ></textarea>
            <div v-if="$v.eventMessage.header.$anyDirty && $v.eventMessage.header.$invalid">
              <small class="form-text text-danger" v-if="!$v.eventMessage.header.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.status')" for="event-message-status">Status</label>
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.eventMessage.status.$invalid, invalid: $v.eventMessage.status.$invalid }"
              v-model="$v.eventMessage.status.$model"
              id="event-message-status"
              data-cy="status"
              required
            >
              <option
                v-for="eventMessageStatus in eventMessageStatusValues"
                :key="eventMessageStatus"
                v-bind:value="eventMessageStatus"
                v-bind:label="$t('slm2App.EventMessageStatus.' + eventMessageStatus)"
              >
                {{ eventMessageStatus }}
              </option>
            </select>
            <div v-if="$v.eventMessage.status.$anyDirty && $v.eventMessage.status.$invalid">
              <small class="form-text text-danger" v-if="!$v.eventMessage.status.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.notes')" for="event-message-notes">Notes</label>
            <textarea
              class="form-control"
              name="notes"
              id="event-message-notes"
              data-cy="notes"
              :class="{ valid: !$v.eventMessage.notes.$invalid, invalid: $v.eventMessage.notes.$invalid }"
              v-model="$v.eventMessage.notes.$model"
            ></textarea>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.createdBy')" for="event-message-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="event-message-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.eventMessage.createdBy.$invalid, invalid: $v.eventMessage.createdBy.$invalid }"
              v-model="$v.eventMessage.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.createdDate')" for="event-message-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="event-message-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.eventMessage.createdDate.$invalid, invalid: $v.eventMessage.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.eventMessage.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.lastModifiedBy')" for="event-message-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="event-message-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.eventMessage.lastModifiedBy.$invalid, invalid: $v.eventMessage.lastModifiedBy.$invalid }"
              v-model="$v.eventMessage.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.lastModifiedDate')" for="event-message-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="event-message-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.eventMessage.lastModifiedDate.$invalid, invalid: $v.eventMessage.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.eventMessage.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.version')" for="event-message-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="event-message-version"
              data-cy="version"
              :class="{ valid: !$v.eventMessage.version.$invalid, invalid: $v.eventMessage.version.$invalid }"
              v-model.number="$v.eventMessage.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.eventMessage.order')" for="event-message-order">Order</label>
            <select class="form-control" id="event-message-order" data-cy="order" name="order" v-model="eventMessage.order">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="eventMessage.order && orderOption.id === eventMessage.order.id ? eventMessage.order : orderOption"
                v-for="orderOption in orders"
                :key="orderOption.id"
              >
                {{ orderOption.orderNo }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.eventMessage.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./event-message-update.component.ts"></script>
