<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="eventMessage">
        <h2 class="jh-entity-heading" data-cy="eventMessageDetailsHeading">
          <span v-text="$t('slm2App.eventMessage.detail.title')">EventMessage</span> {{ eventMessage.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.eventMessage.payload')">Payload</span>
          </dt>
          <dd>
            <span>{{ eventMessage.payload }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.header')">Header</span>
          </dt>
          <dd>
            <span>{{ eventMessage.header }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.EventMessageStatus.' + eventMessage.status)">{{ eventMessage.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.notes')">Notes</span>
          </dt>
          <dd>
            <span>{{ eventMessage.notes }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ eventMessage.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="eventMessage.createdDate">{{ $d(Date.parse(eventMessage.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ eventMessage.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="eventMessage.lastModifiedDate">{{ $d(Date.parse(eventMessage.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.version')">Version</span>
          </dt>
          <dd>
            <span>{{ eventMessage.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.eventMessage.order')">Order</span>
          </dt>
          <dd>
            <div v-if="eventMessage.order">
              <router-link :to="{ name: 'OrderView', params: { orderId: eventMessage.order.id } }">{{
                eventMessage.order.orderNo
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="eventMessage.id"
          :to="{ name: 'EventMessageEdit', params: { eventMessageId: eventMessage.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./event-message-details.component.ts"></script>
