<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="productType">
        <h2 class="jh-entity-heading" data-cy="productTypeDetailsHeading">
          <span v-text="$t('slm2App.productType.detail.title')">ProductType</span> {{ productType.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.productType.externalId')">External Id</span>
          </dt>
          <dd>
            <span>{{ productType.externalId }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.identifier')">Identifier</span>
          </dt>
          <dd>
            <span>{{ productType.identifier }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.saneName')">Sane Name</span>
          </dt>
          <dd>
            <span>{{ productType.saneName }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ productType.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="productType.createdDate">{{ $d(Date.parse(productType.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ productType.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="productType.lastModifiedDate">{{ $d(Date.parse(productType.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.version')">Version</span>
          </dt>
          <dd>
            <span>{{ productType.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.productType.shop')">Shop</span>
          </dt>
          <dd>
            <div v-if="productType.shop">
              <router-link :to="{ name: 'ShopView', params: { shopId: productType.shop.id } }">{{ productType.shop.name }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="productType.id"
          :to="{ name: 'ProductTypeEdit', params: { productTypeId: productType.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./product-type-details.component.ts"></script>
