<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.productType.home.createOrEditLabel"
          data-cy="ProductTypeCreateUpdateHeading"
          v-text="$t('slm2App.productType.home.createOrEditLabel')"
        >
          Create or edit a ProductType
        </h2>
        <div>
          <div class="form-group" v-if="productType.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="productType.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.externalId')" for="product-type-externalId"
              >External Id</label
            >
            <input
              type="text"
              class="form-control"
              name="externalId"
              id="product-type-externalId"
              data-cy="externalId"
              :class="{ valid: !$v.productType.externalId.$invalid, invalid: $v.productType.externalId.$invalid }"
              v-model="$v.productType.externalId.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.identifier')" for="product-type-identifier">Identifier</label>
            <input
              type="text"
              class="form-control"
              name="identifier"
              id="product-type-identifier"
              data-cy="identifier"
              :class="{ valid: !$v.productType.identifier.$invalid, invalid: $v.productType.identifier.$invalid }"
              v-model="$v.productType.identifier.$model"
              required
            />
            <div v-if="$v.productType.identifier.$anyDirty && $v.productType.identifier.$invalid">
              <small class="form-text text-danger" v-if="!$v.productType.identifier.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.saneName')" for="product-type-saneName">Sane Name</label>
            <input
              type="text"
              class="form-control"
              name="saneName"
              id="product-type-saneName"
              data-cy="saneName"
              :class="{ valid: !$v.productType.saneName.$invalid, invalid: $v.productType.saneName.$invalid }"
              v-model="$v.productType.saneName.$model"
              required
            />
            <div v-if="$v.productType.saneName.$anyDirty && $v.productType.saneName.$invalid">
              <small class="form-text text-danger" v-if="!$v.productType.saneName.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.createdBy')" for="product-type-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="product-type-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.productType.createdBy.$invalid, invalid: $v.productType.createdBy.$invalid }"
              v-model="$v.productType.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.createdDate')" for="product-type-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="product-type-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.productType.createdDate.$invalid, invalid: $v.productType.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.productType.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.lastModifiedBy')" for="product-type-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="product-type-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.productType.lastModifiedBy.$invalid, invalid: $v.productType.lastModifiedBy.$invalid }"
              v-model="$v.productType.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.lastModifiedDate')" for="product-type-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="product-type-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.productType.lastModifiedDate.$invalid, invalid: $v.productType.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.productType.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.version')" for="product-type-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="product-type-version"
              data-cy="version"
              :class="{ valid: !$v.productType.version.$invalid, invalid: $v.productType.version.$invalid }"
              v-model.number="$v.productType.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.productType.shop')" for="product-type-shop">Shop</label>
            <select class="form-control" id="product-type-shop" data-cy="shop" name="shop" v-model="productType.shop" required>
              <option v-if="!productType.shop" v-bind:value="null" selected></option>
              <option
                v-bind:value="productType.shop && shopOption.id === productType.shop.id ? productType.shop : shopOption"
                v-for="shopOption in shops"
                :key="shopOption.id"
              >
                {{ shopOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.productType.shop.$anyDirty && $v.productType.shop.$invalid">
            <small class="form-text text-danger" v-if="!$v.productType.shop.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.productType.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./product-type-update.component.ts"></script>
