<template>
  <div>
    <h2 id="page-heading" data-cy="ProductTypeHeading">
      <span v-text="$t('slm2App.productType.home.title')" id="product-type-heading">Product Types</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.productType.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ProductTypeCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-product-type"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.productType.home.createLabel')"> Create a new Product Type </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && productTypes && productTypes.length === 0">
      <span v-text="$t('slm2App.productType.home.notFound')">No productTypes found</span>
    </div>
    <div class="table-responsive" v-if="productTypes && productTypes.length > 0">
      <table class="table table-striped" aria-describedby="productTypes">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('externalId')">
              <span v-text="$t('slm2App.productType.externalId')">External Id</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'externalId'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('identifier')">
              <span v-text="$t('slm2App.productType.identifier')">Identifier</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'identifier'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('saneName')">
              <span v-text="$t('slm2App.productType.saneName')">Sane Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'saneName'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.productType.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.productType.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.productType.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.productType.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.productType.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('shop.name')">
              <span v-text="$t('slm2App.productType.shop')">Shop</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'shop.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="productType in productTypes" :key="productType.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ProductTypeView', params: { productTypeId: productType.id } }">{{ productType.id }}</router-link>
            </td>
            <td>{{ productType.externalId }}</td>
            <td>{{ productType.identifier }}</td>
            <td>{{ productType.saneName }}</td>
            <td>{{ productType.createdBy }}</td>
            <td>{{ productType.createdDate ? $d(Date.parse(productType.createdDate), 'short') : '' }}</td>
            <td>{{ productType.lastModifiedBy }}</td>
            <td>{{ productType.lastModifiedDate ? $d(Date.parse(productType.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ productType.version }}</td>
            <td>
              <div v-if="productType.shop">
                <router-link :to="{ name: 'ShopView', params: { shopId: productType.shop.id } }">{{ productType.shop.name }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'ProductTypeView', params: { productTypeId: productType.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'ProductTypeEdit', params: { productTypeId: productType.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(productType)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="slm2App.productType.delete.question" data-cy="productTypeDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-productType-heading" v-text="$t('slm2App.productType.delete.question', { id: removeId })">
          Are you sure you want to delete this Product Type?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-productType"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeProductType()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="productTypes && productTypes.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./product-type.component.ts"></script>
