<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.defaultEmailTemplate.home.createOrEditLabel"
          data-cy="DefaultEmailTemplateCreateUpdateHeading"
          v-text="$t('slm2App.defaultEmailTemplate.home.createOrEditLabel')"
        >
          Create or edit a DefaultEmailTemplate
        </h2>
        <div>
          <div class="form-group" v-if="defaultEmailTemplate.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="defaultEmailTemplate.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.defaultEmailTemplate.subject')" for="default-email-template-subject"
              >Subject</label
            >
            <input
              type="text"
              class="form-control"
              name="subject"
              id="default-email-template-subject"
              data-cy="subject"
              :class="{ valid: !$v.defaultEmailTemplate.subject.$invalid, invalid: $v.defaultEmailTemplate.subject.$invalid }"
              v-model="$v.defaultEmailTemplate.subject.$model"
              required
            />
            <div v-if="$v.defaultEmailTemplate.subject.$anyDirty && $v.defaultEmailTemplate.subject.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.defaultEmailTemplate.subject.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.defaultEmailTemplate.header')" for="default-email-template-header"
              >Header</label
            >
            <textarea
              class="form-control"
              name="header"
              id="default-email-template-header"
              data-cy="header"
              :class="{ valid: !$v.defaultEmailTemplate.header.$invalid, invalid: $v.defaultEmailTemplate.header.$invalid }"
              v-model="$v.defaultEmailTemplate.header.$model"
              required
            ></textarea>
            <div v-if="$v.defaultEmailTemplate.header.$anyDirty && $v.defaultEmailTemplate.header.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.defaultEmailTemplate.header.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.defaultEmailTemplate.body')" for="default-email-template-body"
              >Body</label
            >
            <textarea
              class="form-control"
              name="body"
              id="default-email-template-body"
              data-cy="body"
              :class="{ valid: !$v.defaultEmailTemplate.body.$invalid, invalid: $v.defaultEmailTemplate.body.$invalid }"
              v-model="$v.defaultEmailTemplate.body.$model"
              required
            ></textarea>
            <div v-if="$v.defaultEmailTemplate.body.$anyDirty && $v.defaultEmailTemplate.body.$invalid">
              <small class="form-text text-danger" v-if="!$v.defaultEmailTemplate.body.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.defaultEmailTemplate.footer')" for="default-email-template-footer"
              >Footer</label
            >
            <textarea
              class="form-control"
              name="footer"
              id="default-email-template-footer"
              data-cy="footer"
              :class="{ valid: !$v.defaultEmailTemplate.footer.$invalid, invalid: $v.defaultEmailTemplate.footer.$invalid }"
              v-model="$v.defaultEmailTemplate.footer.$model"
              required
            ></textarea>
            <div v-if="$v.defaultEmailTemplate.footer.$anyDirty && $v.defaultEmailTemplate.footer.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.defaultEmailTemplate.footer.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.defaultEmailTemplate.language')" for="default-email-template-language"
              >Language</label
            >
            <select
              class="form-control"
              name="language"
              :class="{ valid: !$v.defaultEmailTemplate.language.$invalid, invalid: $v.defaultEmailTemplate.language.$invalid }"
              v-model="$v.defaultEmailTemplate.language.$model"
              id="default-email-template-language"
              data-cy="language"
              required
            >
              <option
                v-for="language in languageValues"
                :key="language"
                v-bind:value="language"
                v-bind:label="$t('slm2App.Language.' + language)"
              >
                {{ language }}
              </option>
            </select>
            <div v-if="$v.defaultEmailTemplate.language.$anyDirty && $v.defaultEmailTemplate.language.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.defaultEmailTemplate.language.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.defaultEmailTemplate.createdBy')" for="default-email-template-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="default-email-template-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.defaultEmailTemplate.createdBy.$invalid, invalid: $v.defaultEmailTemplate.createdBy.$invalid }"
              v-model="$v.defaultEmailTemplate.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.defaultEmailTemplate.createdDate')"
              for="default-email-template-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="default-email-template-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.defaultEmailTemplate.createdDate.$invalid, invalid: $v.defaultEmailTemplate.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.defaultEmailTemplate.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.defaultEmailTemplate.lastModifiedBy')"
              for="default-email-template-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="default-email-template-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.defaultEmailTemplate.lastModifiedBy.$invalid, invalid: $v.defaultEmailTemplate.lastModifiedBy.$invalid }"
              v-model="$v.defaultEmailTemplate.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.defaultEmailTemplate.lastModifiedDate')"
              for="default-email-template-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="default-email-template-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{
                  valid: !$v.defaultEmailTemplate.lastModifiedDate.$invalid,
                  invalid: $v.defaultEmailTemplate.lastModifiedDate.$invalid,
                }"
                :value="convertDateTimeFromServer($v.defaultEmailTemplate.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.defaultEmailTemplate.version')" for="default-email-template-version"
              >Version</label
            >
            <input
              type="number"
              class="form-control"
              name="version"
              id="default-email-template-version"
              data-cy="version"
              :class="{ valid: !$v.defaultEmailTemplate.version.$invalid, invalid: $v.defaultEmailTemplate.version.$invalid }"
              v-model.number="$v.defaultEmailTemplate.version.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.defaultEmailTemplate.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./default-email-template-update.component.ts"></script>
