<template>
  <div>
    <h2 id="page-heading" data-cy="DefaultEmailTemplateHeading">
      <span v-text="$t('slm2App.defaultEmailTemplate.home.title')" id="default-email-template-heading">Default Email Templates</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.defaultEmailTemplate.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'DefaultEmailTemplateCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-default-email-template"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.defaultEmailTemplate.home.createLabel')"> Create a new Default Email Template </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && defaultEmailTemplates && defaultEmailTemplates.length === 0">
      <span v-text="$t('slm2App.defaultEmailTemplate.home.notFound')">No defaultEmailTemplates found</span>
    </div>
    <div class="table-responsive" v-if="defaultEmailTemplates && defaultEmailTemplates.length > 0">
      <table class="table table-striped" aria-describedby="defaultEmailTemplates">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('subject')">
              <span v-text="$t('slm2App.defaultEmailTemplate.subject')">Subject</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'subject'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('header')">
              <span v-text="$t('slm2App.defaultEmailTemplate.header')">Header</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'header'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('body')">
              <span v-text="$t('slm2App.defaultEmailTemplate.body')">Body</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'body'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('footer')">
              <span v-text="$t('slm2App.defaultEmailTemplate.footer')">Footer</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'footer'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('language')">
              <span v-text="$t('slm2App.defaultEmailTemplate.language')">Language</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'language'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.defaultEmailTemplate.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.defaultEmailTemplate.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.defaultEmailTemplate.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.defaultEmailTemplate.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.defaultEmailTemplate.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="defaultEmailTemplate in defaultEmailTemplates" :key="defaultEmailTemplate.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'DefaultEmailTemplateView', params: { defaultEmailTemplateId: defaultEmailTemplate.id } }">{{
                defaultEmailTemplate.id
              }}</router-link>
            </td>
            <td>{{ defaultEmailTemplate.subject }}</td>
            <td>{{ defaultEmailTemplate.header }}</td>
            <td>{{ defaultEmailTemplate.body }}</td>
            <td>{{ defaultEmailTemplate.footer }}</td>
            <td v-text="$t('slm2App.Language.' + defaultEmailTemplate.language)">{{ defaultEmailTemplate.language }}</td>
            <td>{{ defaultEmailTemplate.createdBy }}</td>
            <td>{{ defaultEmailTemplate.createdDate ? $d(Date.parse(defaultEmailTemplate.createdDate), 'short') : '' }}</td>
            <td>{{ defaultEmailTemplate.lastModifiedBy }}</td>
            <td>{{ defaultEmailTemplate.lastModifiedDate ? $d(Date.parse(defaultEmailTemplate.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ defaultEmailTemplate.version }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'DefaultEmailTemplateView', params: { defaultEmailTemplateId: defaultEmailTemplate.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'DefaultEmailTemplateEdit', params: { defaultEmailTemplateId: defaultEmailTemplate.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(defaultEmailTemplate)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="slm2App.defaultEmailTemplate.delete.question"
          data-cy="defaultEmailTemplateDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-defaultEmailTemplate-heading" v-text="$t('slm2App.defaultEmailTemplate.delete.question', { id: removeId })">
          Are you sure you want to delete this Default Email Template?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-defaultEmailTemplate"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeDefaultEmailTemplate()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="defaultEmailTemplates && defaultEmailTemplates.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./default-email-template.component.ts"></script>
