<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="defaultEmailTemplate">
        <h2 class="jh-entity-heading" data-cy="defaultEmailTemplateDetailsHeading">
          <span v-text="$t('slm2App.defaultEmailTemplate.detail.title')">DefaultEmailTemplate</span> {{ defaultEmailTemplate.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.subject')">Subject</span>
          </dt>
          <dd>
            <span>{{ defaultEmailTemplate.subject }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.header')">Header</span>
          </dt>
          <dd>
            <span>{{ defaultEmailTemplate.header }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.body')">Body</span>
          </dt>
          <dd>
            <span>{{ defaultEmailTemplate.body }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.footer')">Footer</span>
          </dt>
          <dd>
            <span>{{ defaultEmailTemplate.footer }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.language')">Language</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.Language.' + defaultEmailTemplate.language)">{{ defaultEmailTemplate.language }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ defaultEmailTemplate.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="defaultEmailTemplate.createdDate">{{ $d(Date.parse(defaultEmailTemplate.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ defaultEmailTemplate.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="defaultEmailTemplate.lastModifiedDate">{{ $d(Date.parse(defaultEmailTemplate.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.defaultEmailTemplate.version')">Version</span>
          </dt>
          <dd>
            <span>{{ defaultEmailTemplate.version }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="defaultEmailTemplate.id"
          :to="{ name: 'DefaultEmailTemplateEdit', params: { defaultEmailTemplateId: defaultEmailTemplate.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./default-email-template-details.component.ts"></script>
