<template>
  <div>
    <h2 id="page-heading" data-cy="OrderApprovalNotificationHeading">
      <span v-text="$t('slm2App.orderApprovalNotification.home.title')" id="order-approval-notification-heading"
        >Order Approval Notifications</span
      >
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.orderApprovalNotification.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'OrderApprovalNotificationCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-order-approval-notification"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.orderApprovalNotification.home.createLabel')"> Create a new Order Approval Notification </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && orderApprovalNotifications && orderApprovalNotifications.length === 0">
      <span v-text="$t('slm2App.orderApprovalNotification.home.notFound')">No orderApprovalNotifications found</span>
    </div>
    <div class="table-responsive" v-if="orderApprovalNotifications && orderApprovalNotifications.length > 0">
      <table class="table table-striped" aria-describedby="orderApprovalNotifications">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('status')">
              <span v-text="$t('slm2App.orderApprovalNotification.status')">Status</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'status'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('browserIpCity')">
              <span v-text="$t('slm2App.orderApprovalNotification.browserIpCity')">Browser Ip City</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'browserIpCity'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('browserIpProvince')">
              <span v-text="$t('slm2App.orderApprovalNotification.browserIpProvince')">Browser Ip Province</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'browserIpProvince'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('browserIpCountry')">
              <span v-text="$t('slm2App.orderApprovalNotification.browserIpCountry')">Browser Ip Country</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'browserIpCountry'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('browserIpLatitude')">
              <span v-text="$t('slm2App.orderApprovalNotification.browserIpLatitude')">Browser Ip Latitude</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'browserIpLatitude'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('browserIpLongitude')">
              <span v-text="$t('slm2App.orderApprovalNotification.browserIpLongitude')">Browser Ip Longitude</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'browserIpLongitude'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('browserIpZip')">
              <span v-text="$t('slm2App.orderApprovalNotification.browserIpZip')">Browser Ip Zip</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'browserIpZip'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('distanceKm')">
              <span v-text="$t('slm2App.orderApprovalNotification.distanceKm')">Distance Km</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'distanceKm'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('durationSeconds')">
              <span v-text="$t('slm2App.orderApprovalNotification.durationSeconds')">Duration Seconds</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'durationSeconds'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('note')">
              <span v-text="$t('slm2App.orderApprovalNotification.note')">Note</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'note'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.orderApprovalNotification.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.orderApprovalNotification.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.orderApprovalNotification.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.orderApprovalNotification.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.orderApprovalNotification.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('order.orderNo')">
              <span v-text="$t('slm2App.orderApprovalNotification.order')">Order</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'order.orderNo'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="orderApprovalNotification in orderApprovalNotifications" :key="orderApprovalNotification.id" data-cy="entityTable">
            <td>
              <router-link
                :to="{ name: 'OrderApprovalNotificationView', params: { orderApprovalNotificationId: orderApprovalNotification.id } }"
                >{{ orderApprovalNotification.id }}</router-link
              >
            </td>
            <td v-text="$t('slm2App.OrderApprovalStatus.' + orderApprovalNotification.status)">{{ orderApprovalNotification.status }}</td>
            <td>{{ orderApprovalNotification.browserIpCity }}</td>
            <td>{{ orderApprovalNotification.browserIpProvince }}</td>
            <td>{{ orderApprovalNotification.browserIpCountry }}</td>
            <td>{{ orderApprovalNotification.browserIpLatitude }}</td>
            <td>{{ orderApprovalNotification.browserIpLongitude }}</td>
            <td>{{ orderApprovalNotification.browserIpZip }}</td>
            <td>{{ orderApprovalNotification.distanceKm }}</td>
            <td>{{ orderApprovalNotification.durationSeconds }}</td>
            <td>{{ orderApprovalNotification.note }}</td>
            <td>{{ orderApprovalNotification.createdBy }}</td>
            <td>{{ orderApprovalNotification.createdDate ? $d(Date.parse(orderApprovalNotification.createdDate), 'short') : '' }}</td>
            <td>{{ orderApprovalNotification.lastModifiedBy }}</td>
            <td>
              {{ orderApprovalNotification.lastModifiedDate ? $d(Date.parse(orderApprovalNotification.lastModifiedDate), 'short') : '' }}
            </td>
            <td>{{ orderApprovalNotification.version }}</td>
            <td>
              <div v-if="orderApprovalNotification.order">
                <router-link :to="{ name: 'OrderView', params: { orderId: orderApprovalNotification.order.id } }">{{
                  orderApprovalNotification.order.orderNo
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'OrderApprovalNotificationView', params: { orderApprovalNotificationId: orderApprovalNotification.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'OrderApprovalNotificationEdit', params: { orderApprovalNotificationId: orderApprovalNotification.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(orderApprovalNotification)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="slm2App.orderApprovalNotification.delete.question"
          data-cy="orderApprovalNotificationDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p
          id="jhi-delete-orderApprovalNotification-heading"
          v-text="$t('slm2App.orderApprovalNotification.delete.question', { id: removeId })"
        >
          Are you sure you want to delete this Order Approval Notification?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-orderApprovalNotification"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeOrderApprovalNotification()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="orderApprovalNotifications && orderApprovalNotifications.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./order-approval-notification.component.ts"></script>
