<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.orderApprovalNotification.home.createOrEditLabel"
          data-cy="OrderApprovalNotificationCreateUpdateHeading"
          v-text="$t('slm2App.orderApprovalNotification.home.createOrEditLabel')"
        >
          Create or edit a OrderApprovalNotification
        </h2>
        <div>
          <div class="form-group" v-if="orderApprovalNotification.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="orderApprovalNotification.id" readonly />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.status')"
              for="order-approval-notification-status"
              >Status</label
            >
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.orderApprovalNotification.status.$invalid, invalid: $v.orderApprovalNotification.status.$invalid }"
              v-model="$v.orderApprovalNotification.status.$model"
              id="order-approval-notification-status"
              data-cy="status"
            >
              <option
                v-for="orderApprovalStatus in orderApprovalStatusValues"
                :key="orderApprovalStatus"
                v-bind:value="orderApprovalStatus"
                v-bind:label="$t('slm2App.OrderApprovalStatus.' + orderApprovalStatus)"
              >
                {{ orderApprovalStatus }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.browserIpCity')"
              for="order-approval-notification-browserIpCity"
              >Browser Ip City</label
            >
            <input
              type="text"
              class="form-control"
              name="browserIpCity"
              id="order-approval-notification-browserIpCity"
              data-cy="browserIpCity"
              :class="{
                valid: !$v.orderApprovalNotification.browserIpCity.$invalid,
                invalid: $v.orderApprovalNotification.browserIpCity.$invalid,
              }"
              v-model="$v.orderApprovalNotification.browserIpCity.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.browserIpProvince')"
              for="order-approval-notification-browserIpProvince"
              >Browser Ip Province</label
            >
            <input
              type="text"
              class="form-control"
              name="browserIpProvince"
              id="order-approval-notification-browserIpProvince"
              data-cy="browserIpProvince"
              :class="{
                valid: !$v.orderApprovalNotification.browserIpProvince.$invalid,
                invalid: $v.orderApprovalNotification.browserIpProvince.$invalid,
              }"
              v-model="$v.orderApprovalNotification.browserIpProvince.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.browserIpCountry')"
              for="order-approval-notification-browserIpCountry"
              >Browser Ip Country</label
            >
            <input
              type="text"
              class="form-control"
              name="browserIpCountry"
              id="order-approval-notification-browserIpCountry"
              data-cy="browserIpCountry"
              :class="{
                valid: !$v.orderApprovalNotification.browserIpCountry.$invalid,
                invalid: $v.orderApprovalNotification.browserIpCountry.$invalid,
              }"
              v-model="$v.orderApprovalNotification.browserIpCountry.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.browserIpLatitude')"
              for="order-approval-notification-browserIpLatitude"
              >Browser Ip Latitude</label
            >
            <input
              type="text"
              class="form-control"
              name="browserIpLatitude"
              id="order-approval-notification-browserIpLatitude"
              data-cy="browserIpLatitude"
              :class="{
                valid: !$v.orderApprovalNotification.browserIpLatitude.$invalid,
                invalid: $v.orderApprovalNotification.browserIpLatitude.$invalid,
              }"
              v-model="$v.orderApprovalNotification.browserIpLatitude.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.browserIpLongitude')"
              for="order-approval-notification-browserIpLongitude"
              >Browser Ip Longitude</label
            >
            <input
              type="text"
              class="form-control"
              name="browserIpLongitude"
              id="order-approval-notification-browserIpLongitude"
              data-cy="browserIpLongitude"
              :class="{
                valid: !$v.orderApprovalNotification.browserIpLongitude.$invalid,
                invalid: $v.orderApprovalNotification.browserIpLongitude.$invalid,
              }"
              v-model="$v.orderApprovalNotification.browserIpLongitude.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.browserIpZip')"
              for="order-approval-notification-browserIpZip"
              >Browser Ip Zip</label
            >
            <input
              type="text"
              class="form-control"
              name="browserIpZip"
              id="order-approval-notification-browserIpZip"
              data-cy="browserIpZip"
              :class="{
                valid: !$v.orderApprovalNotification.browserIpZip.$invalid,
                invalid: $v.orderApprovalNotification.browserIpZip.$invalid,
              }"
              v-model="$v.orderApprovalNotification.browserIpZip.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.distanceKm')"
              for="order-approval-notification-distanceKm"
              >Distance Km</label
            >
            <input
              type="number"
              class="form-control"
              name="distanceKm"
              id="order-approval-notification-distanceKm"
              data-cy="distanceKm"
              :class="{
                valid: !$v.orderApprovalNotification.distanceKm.$invalid,
                invalid: $v.orderApprovalNotification.distanceKm.$invalid,
              }"
              v-model.number="$v.orderApprovalNotification.distanceKm.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.durationSeconds')"
              for="order-approval-notification-durationSeconds"
              >Duration Seconds</label
            >
            <input
              type="number"
              class="form-control"
              name="durationSeconds"
              id="order-approval-notification-durationSeconds"
              data-cy="durationSeconds"
              :class="{
                valid: !$v.orderApprovalNotification.durationSeconds.$invalid,
                invalid: $v.orderApprovalNotification.durationSeconds.$invalid,
              }"
              v-model.number="$v.orderApprovalNotification.durationSeconds.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderApprovalNotification.note')" for="order-approval-notification-note"
              >Note</label
            >
            <input
              type="text"
              class="form-control"
              name="note"
              id="order-approval-notification-note"
              data-cy="note"
              :class="{ valid: !$v.orderApprovalNotification.note.$invalid, invalid: $v.orderApprovalNotification.note.$invalid }"
              v-model="$v.orderApprovalNotification.note.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.createdBy')"
              for="order-approval-notification-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="order-approval-notification-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.orderApprovalNotification.createdBy.$invalid, invalid: $v.orderApprovalNotification.createdBy.$invalid }"
              v-model="$v.orderApprovalNotification.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.createdDate')"
              for="order-approval-notification-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="order-approval-notification-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{
                  valid: !$v.orderApprovalNotification.createdDate.$invalid,
                  invalid: $v.orderApprovalNotification.createdDate.$invalid,
                }"
                :value="convertDateTimeFromServer($v.orderApprovalNotification.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.lastModifiedBy')"
              for="order-approval-notification-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="order-approval-notification-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{
                valid: !$v.orderApprovalNotification.lastModifiedBy.$invalid,
                invalid: $v.orderApprovalNotification.lastModifiedBy.$invalid,
              }"
              v-model="$v.orderApprovalNotification.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.lastModifiedDate')"
              for="order-approval-notification-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="order-approval-notification-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{
                  valid: !$v.orderApprovalNotification.lastModifiedDate.$invalid,
                  invalid: $v.orderApprovalNotification.lastModifiedDate.$invalid,
                }"
                :value="convertDateTimeFromServer($v.orderApprovalNotification.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.orderApprovalNotification.version')"
              for="order-approval-notification-version"
              >Version</label
            >
            <input
              type="number"
              class="form-control"
              name="version"
              id="order-approval-notification-version"
              data-cy="version"
              :class="{ valid: !$v.orderApprovalNotification.version.$invalid, invalid: $v.orderApprovalNotification.version.$invalid }"
              v-model.number="$v.orderApprovalNotification.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderApprovalNotification.order')" for="order-approval-notification-order"
              >Order</label
            >
            <select
              class="form-control"
              id="order-approval-notification-order"
              data-cy="order"
              name="order"
              v-model="orderApprovalNotification.order"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  orderApprovalNotification.order && orderOption.id === orderApprovalNotification.order.id
                    ? orderApprovalNotification.order
                    : orderOption
                "
                v-for="orderOption in orders"
                :key="orderOption.id"
              >
                {{ orderOption.orderNo }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.orderApprovalNotification.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./order-approval-notification-update.component.ts"></script>
