<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="orderApprovalNotification">
        <h2 class="jh-entity-heading" data-cy="orderApprovalNotificationDetailsHeading">
          <span v-text="$t('slm2App.orderApprovalNotification.detail.title')">OrderApprovalNotification</span>
          {{ orderApprovalNotification.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.OrderApprovalStatus.' + orderApprovalNotification.status)">{{
              orderApprovalNotification.status
            }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.browserIpCity')">Browser Ip City</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.browserIpCity }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.browserIpProvince')">Browser Ip Province</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.browserIpProvince }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.browserIpCountry')">Browser Ip Country</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.browserIpCountry }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.browserIpLatitude')">Browser Ip Latitude</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.browserIpLatitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.browserIpLongitude')">Browser Ip Longitude</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.browserIpLongitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.browserIpZip')">Browser Ip Zip</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.browserIpZip }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.distanceKm')">Distance Km</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.distanceKm }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.durationSeconds')">Duration Seconds</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.durationSeconds }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.note')">Note</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.note }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="orderApprovalNotification.createdDate">{{ $d(Date.parse(orderApprovalNotification.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="orderApprovalNotification.lastModifiedDate">{{
              $d(Date.parse(orderApprovalNotification.lastModifiedDate), 'long')
            }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.version')">Version</span>
          </dt>
          <dd>
            <span>{{ orderApprovalNotification.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderApprovalNotification.order')">Order</span>
          </dt>
          <dd>
            <div v-if="orderApprovalNotification.order">
              <router-link :to="{ name: 'OrderView', params: { orderId: orderApprovalNotification.order.id } }">{{
                orderApprovalNotification.order.orderNo
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="orderApprovalNotification.id"
          :to="{ name: 'OrderApprovalNotificationEdit', params: { orderApprovalNotificationId: orderApprovalNotification.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./order-approval-notification-details.component.ts"></script>
