<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.product.home.createOrEditLabel"
          data-cy="ProductCreateUpdateHeading"
          v-text="$t('slm2App.product.home.createOrEditLabel')"
        >
          Create or edit a Product
        </h2>
        <div>
          <div class="form-group" v-if="product.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="product.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.product')" for="product-product">Product</label>
            <input
              type="text"
              class="form-control"
              name="product"
              id="product-product"
              data-cy="product"
              :class="{ valid: !$v.product.product.$invalid, invalid: $v.product.product.$invalid }"
              v-model="$v.product.product.$model"
              required
            />
            <div v-if="$v.product.product.$anyDirty && $v.product.product.$invalid">
              <small class="form-text text-danger" v-if="!$v.product.product.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.soldQuantity')" for="product-soldQuantity">Sold Quantity</label>
            <input
              type="number"
              class="form-control"
              name="soldQuantity"
              id="product-soldQuantity"
              data-cy="soldQuantity"
              :class="{ valid: !$v.product.soldQuantity.$invalid, invalid: $v.product.soldQuantity.$invalid }"
              v-model.number="$v.product.soldQuantity.$model"
              required
            />
            <div v-if="$v.product.soldQuantity.$anyDirty && $v.product.soldQuantity.$invalid">
              <small class="form-text text-danger" v-if="!$v.product.soldQuantity.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.product.soldQuantity.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.availableQuantity')" for="product-availableQuantity"
              >Available Quantity</label
            >
            <input
              type="number"
              class="form-control"
              name="availableQuantity"
              id="product-availableQuantity"
              data-cy="availableQuantity"
              :class="{ valid: !$v.product.availableQuantity.$invalid, invalid: $v.product.availableQuantity.$invalid }"
              v-model.number="$v.product.availableQuantity.$model"
              required
            />
            <div v-if="$v.product.availableQuantity.$anyDirty && $v.product.availableQuantity.$invalid">
              <small class="form-text text-danger" v-if="!$v.product.availableQuantity.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.product.availableQuantity.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.invalidatedDate')" for="product-invalidatedDate"
              >Invalidated Date</label
            >
            <div class="d-flex">
              <input
                id="product-invalidatedDate"
                data-cy="invalidatedDate"
                type="datetime-local"
                class="form-control"
                name="invalidatedDate"
                :class="{ valid: !$v.product.invalidatedDate.$invalid, invalid: $v.product.invalidatedDate.$invalid }"
                :value="convertDateTimeFromServer($v.product.invalidatedDate.$model)"
                @change="updateInstantField('invalidatedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.createdBy')" for="product-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="product-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.product.createdBy.$invalid, invalid: $v.product.createdBy.$invalid }"
              v-model="$v.product.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.createdDate')" for="product-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="product-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.product.createdDate.$invalid, invalid: $v.product.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.product.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.lastModifiedBy')" for="product-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="product-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.product.lastModifiedBy.$invalid, invalid: $v.product.lastModifiedBy.$invalid }"
              v-model="$v.product.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.lastModifiedDate')" for="product-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="product-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.product.lastModifiedDate.$invalid, invalid: $v.product.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.product.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.version')" for="product-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="product-version"
              data-cy="version"
              :class="{ valid: !$v.product.version.$invalid, invalid: $v.product.version.$invalid }"
              v-model.number="$v.product.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.product.productType')" for="product-productType">Product Type</label>
            <select
              class="form-control"
              id="product-productType"
              data-cy="productType"
              name="productType"
              v-model="product.productType"
              required
            >
              <option v-if="!product.productType" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  product.productType && productTypeOption.id === product.productType.id ? product.productType : productTypeOption
                "
                v-for="productTypeOption in productTypes"
                :key="productTypeOption.id"
              >
                {{ productTypeOption.saneName }}
              </option>
            </select>
          </div>
          <div v-if="$v.product.productType.$anyDirty && $v.product.productType.$invalid">
            <small class="form-text text-danger" v-if="!$v.product.productType.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.product.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./product-update.component.ts"></script>
