<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="product">
        <h2 class="jh-entity-heading" data-cy="productDetailsHeading">
          <span v-text="$t('slm2App.product.detail.title')">Product</span> {{ product.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.product.product')">Product</span>
          </dt>
          <dd>
            <span>{{ product.product }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.soldQuantity')">Sold Quantity</span>
          </dt>
          <dd>
            <span>{{ product.soldQuantity }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.availableQuantity')">Available Quantity</span>
          </dt>
          <dd>
            <span>{{ product.availableQuantity }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.invalidatedDate')">Invalidated Date</span>
          </dt>
          <dd>
            <span v-if="product.invalidatedDate">{{ $d(Date.parse(product.invalidatedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ product.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="product.createdDate">{{ $d(Date.parse(product.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ product.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="product.lastModifiedDate">{{ $d(Date.parse(product.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.version')">Version</span>
          </dt>
          <dd>
            <span>{{ product.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.product.productType')">Product Type</span>
          </dt>
          <dd>
            <div v-if="product.productType">
              <router-link :to="{ name: 'ProductTypeView', params: { productTypeId: product.productType.id } }">{{
                product.productType.saneName
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="product.id" :to="{ name: 'ProductEdit', params: { productId: product.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./product-details.component.ts"></script>
