<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="shopSmtp">
        <h2 class="jh-entity-heading" data-cy="shopSmtpDetailsHeading">
          <span v-text="$t('slm2App.shopSmtp.detail.title')">ShopSmtp</span> {{ shopSmtp.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.shopSmtp.host')">Host</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.host }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.port')">Port</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.port }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.fromEmail')">From Email</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.fromEmail }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.fromName')">From Name</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.fromName }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.replyTo')">Reply To</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.replyTo }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.username')">Username</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.username }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.password')">Password</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.password }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="shopSmtp.createdDate">{{ $d(Date.parse(shopSmtp.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="shopSmtp.lastModifiedDate">{{ $d(Date.parse(shopSmtp.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.version')">Version</span>
          </dt>
          <dd>
            <span>{{ shopSmtp.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopSmtp.shop')">Shop</span>
          </dt>
          <dd>
            <div v-if="shopSmtp.shop">
              <router-link :to="{ name: 'ShopView', params: { shopId: shopSmtp.shop.id } }">{{ shopSmtp.shop.name }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="shopSmtp.id" :to="{ name: 'ShopSmtpEdit', params: { shopSmtpId: shopSmtp.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop-smtp-details.component.ts"></script>
