<template>
  <div>
    <h2 id="page-heading" data-cy="ShopSmtpHeading">
      <span v-text="$t('slm2App.shopSmtp.home.title')" id="shop-smtp-heading">Shop Smtps</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.shopSmtp.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ShopSmtpCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-shop-smtp"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.shopSmtp.home.createLabel')"> Create a new Shop Smtp </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && shopSmtps && shopSmtps.length === 0">
      <span v-text="$t('slm2App.shopSmtp.home.notFound')">No shopSmtps found</span>
    </div>
    <div class="table-responsive" v-if="shopSmtps && shopSmtps.length > 0">
      <table class="table table-striped" aria-describedby="shopSmtps">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('host')">
              <span v-text="$t('slm2App.shopSmtp.host')">Host</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'host'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('port')">
              <span v-text="$t('slm2App.shopSmtp.port')">Port</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'port'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('fromEmail')">
              <span v-text="$t('slm2App.shopSmtp.fromEmail')">From Email</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'fromEmail'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('fromName')">
              <span v-text="$t('slm2App.shopSmtp.fromName')">From Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'fromName'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('replyTo')">
              <span v-text="$t('slm2App.shopSmtp.replyTo')">Reply To</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'replyTo'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('username')">
              <span v-text="$t('slm2App.shopSmtp.username')">Username</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'username'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('password')">
              <span v-text="$t('slm2App.shopSmtp.password')">Password</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'password'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.shopSmtp.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.shopSmtp.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.shopSmtp.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.shopSmtp.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.shopSmtp.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('shop.name')">
              <span v-text="$t('slm2App.shopSmtp.shop')">Shop</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'shop.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="shopSmtp in shopSmtps" :key="shopSmtp.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ShopSmtpView', params: { shopSmtpId: shopSmtp.id } }">{{ shopSmtp.id }}</router-link>
            </td>
            <td>{{ shopSmtp.host }}</td>
            <td>{{ shopSmtp.port }}</td>
            <td>{{ shopSmtp.fromEmail }}</td>
            <td>{{ shopSmtp.fromName }}</td>
            <td>{{ shopSmtp.replyTo }}</td>
            <td>{{ shopSmtp.username }}</td>
            <td>{{ shopSmtp.password }}</td>
            <td>{{ shopSmtp.createdBy }}</td>
            <td>{{ shopSmtp.createdDate ? $d(Date.parse(shopSmtp.createdDate), 'short') : '' }}</td>
            <td>{{ shopSmtp.lastModifiedBy }}</td>
            <td>{{ shopSmtp.lastModifiedDate ? $d(Date.parse(shopSmtp.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ shopSmtp.version }}</td>
            <td>
              <div v-if="shopSmtp.shop">
                <router-link :to="{ name: 'ShopView', params: { shopId: shopSmtp.shop.id } }">{{ shopSmtp.shop.name }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'ShopSmtpView', params: { shopSmtpId: shopSmtp.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'ShopSmtpEdit', params: { shopSmtpId: shopSmtp.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(shopSmtp)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="slm2App.shopSmtp.delete.question" data-cy="shopSmtpDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-shopSmtp-heading" v-text="$t('slm2App.shopSmtp.delete.question', { id: removeId })">
          Are you sure you want to delete this Shop Smtp?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-shopSmtp"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeShopSmtp()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="shopSmtps && shopSmtps.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop-smtp.component.ts"></script>
