<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.shopSmtp.home.createOrEditLabel"
          data-cy="ShopSmtpCreateUpdateHeading"
          v-text="$t('slm2App.shopSmtp.home.createOrEditLabel')"
        >
          Create or edit a ShopSmtp
        </h2>
        <div>
          <div class="form-group" v-if="shopSmtp.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="shopSmtp.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.host')" for="shop-smtp-host">Host</label>
            <input
              type="text"
              class="form-control"
              name="host"
              id="shop-smtp-host"
              data-cy="host"
              :class="{ valid: !$v.shopSmtp.host.$invalid, invalid: $v.shopSmtp.host.$invalid }"
              v-model="$v.shopSmtp.host.$model"
              required
            />
            <div v-if="$v.shopSmtp.host.$anyDirty && $v.shopSmtp.host.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopSmtp.host.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.port')" for="shop-smtp-port">Port</label>
            <input
              type="number"
              class="form-control"
              name="port"
              id="shop-smtp-port"
              data-cy="port"
              :class="{ valid: !$v.shopSmtp.port.$invalid, invalid: $v.shopSmtp.port.$invalid }"
              v-model.number="$v.shopSmtp.port.$model"
              required
            />
            <div v-if="$v.shopSmtp.port.$anyDirty && $v.shopSmtp.port.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopSmtp.port.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.shopSmtp.port.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.fromEmail')" for="shop-smtp-fromEmail">From Email</label>
            <input
              type="text"
              class="form-control"
              name="fromEmail"
              id="shop-smtp-fromEmail"
              data-cy="fromEmail"
              :class="{ valid: !$v.shopSmtp.fromEmail.$invalid, invalid: $v.shopSmtp.fromEmail.$invalid }"
              v-model="$v.shopSmtp.fromEmail.$model"
              required
            />
            <div v-if="$v.shopSmtp.fromEmail.$anyDirty && $v.shopSmtp.fromEmail.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopSmtp.fromEmail.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.fromName')" for="shop-smtp-fromName">From Name</label>
            <input
              type="text"
              class="form-control"
              name="fromName"
              id="shop-smtp-fromName"
              data-cy="fromName"
              :class="{ valid: !$v.shopSmtp.fromName.$invalid, invalid: $v.shopSmtp.fromName.$invalid }"
              v-model="$v.shopSmtp.fromName.$model"
              required
            />
            <div v-if="$v.shopSmtp.fromName.$anyDirty && $v.shopSmtp.fromName.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopSmtp.fromName.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.replyTo')" for="shop-smtp-replyTo">Reply To</label>
            <input
              type="text"
              class="form-control"
              name="replyTo"
              id="shop-smtp-replyTo"
              data-cy="replyTo"
              :class="{ valid: !$v.shopSmtp.replyTo.$invalid, invalid: $v.shopSmtp.replyTo.$invalid }"
              v-model="$v.shopSmtp.replyTo.$model"
              required
            />
            <div v-if="$v.shopSmtp.replyTo.$anyDirty && $v.shopSmtp.replyTo.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopSmtp.replyTo.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.username')" for="shop-smtp-username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="shop-smtp-username"
              data-cy="username"
              :class="{ valid: !$v.shopSmtp.username.$invalid, invalid: $v.shopSmtp.username.$invalid }"
              v-model="$v.shopSmtp.username.$model"
              required
            />
            <div v-if="$v.shopSmtp.username.$anyDirty && $v.shopSmtp.username.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopSmtp.username.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.password')" for="shop-smtp-password">Password</label>
            <input
              type="text"
              class="form-control"
              name="password"
              id="shop-smtp-password"
              data-cy="password"
              :class="{ valid: !$v.shopSmtp.password.$invalid, invalid: $v.shopSmtp.password.$invalid }"
              v-model="$v.shopSmtp.password.$model"
              required
            />
            <div v-if="$v.shopSmtp.password.$anyDirty && $v.shopSmtp.password.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopSmtp.password.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.createdBy')" for="shop-smtp-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="shop-smtp-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.shopSmtp.createdBy.$invalid, invalid: $v.shopSmtp.createdBy.$invalid }"
              v-model="$v.shopSmtp.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.createdDate')" for="shop-smtp-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="shop-smtp-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.shopSmtp.createdDate.$invalid, invalid: $v.shopSmtp.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.shopSmtp.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.lastModifiedBy')" for="shop-smtp-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="shop-smtp-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.shopSmtp.lastModifiedBy.$invalid, invalid: $v.shopSmtp.lastModifiedBy.$invalid }"
              v-model="$v.shopSmtp.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.lastModifiedDate')" for="shop-smtp-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="shop-smtp-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.shopSmtp.lastModifiedDate.$invalid, invalid: $v.shopSmtp.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.shopSmtp.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.version')" for="shop-smtp-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="shop-smtp-version"
              data-cy="version"
              :class="{ valid: !$v.shopSmtp.version.$invalid, invalid: $v.shopSmtp.version.$invalid }"
              v-model.number="$v.shopSmtp.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopSmtp.shop')" for="shop-smtp-shop">Shop</label>
            <select class="form-control" id="shop-smtp-shop" data-cy="shop" name="shop" v-model="shopSmtp.shop" required>
              <option v-if="!shopSmtp.shop" v-bind:value="null" selected></option>
              <option
                v-bind:value="shopSmtp.shop && shopOption.id === shopSmtp.shop.id ? shopSmtp.shop : shopOption"
                v-for="shopOption in shops"
                :key="shopOption.id"
              >
                {{ shopOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.shopSmtp.shop.$anyDirty && $v.shopSmtp.shop.$invalid">
            <small class="form-text text-danger" v-if="!$v.shopSmtp.shop.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.shopSmtp.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./shop-smtp-update.component.ts"></script>
