<template>
  <div>
    <h2 id="page-heading" data-cy="ShopEmailTemplateHeading">
      <span v-text="$t('slm2App.shopEmailTemplate.home.title')" id="shop-email-template-heading">Shop Email Templates</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('slm2App.shopEmailTemplate.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ShopEmailTemplateCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-shop-email-template"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('slm2App.shopEmailTemplate.home.createLabel')"> Create a new Shop Email Template </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && shopEmailTemplates && shopEmailTemplates.length === 0">
      <span v-text="$t('slm2App.shopEmailTemplate.home.notFound')">No shopEmailTemplates found</span>
    </div>
    <div class="table-responsive" v-if="shopEmailTemplates && shopEmailTemplates.length > 0">
      <table class="table table-striped" aria-describedby="shopEmailTemplates">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('subject')">
              <span v-text="$t('slm2App.shopEmailTemplate.subject')">Subject</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'subject'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('header')">
              <span v-text="$t('slm2App.shopEmailTemplate.header')">Header</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'header'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('body')">
              <span v-text="$t('slm2App.shopEmailTemplate.body')">Body</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'body'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('footer')">
              <span v-text="$t('slm2App.shopEmailTemplate.footer')">Footer</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'footer'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('replyTo')">
              <span v-text="$t('slm2App.shopEmailTemplate.replyTo')">Reply To</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'replyTo'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('slm2App.shopEmailTemplate.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdDate')">
              <span v-text="$t('slm2App.shopEmailTemplate.createdDate')">Created Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedBy')">
              <span v-text="$t('slm2App.shopEmailTemplate.lastModifiedBy')">Last Modified By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastModifiedDate')">
              <span v-text="$t('slm2App.shopEmailTemplate.lastModifiedDate')">Last Modified Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastModifiedDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('version')">
              <span v-text="$t('slm2App.shopEmailTemplate.version')">Version</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'version'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('defaultEmailTemplate.id')">
              <span v-text="$t('slm2App.shopEmailTemplate.defaultEmailTemplate')">Default Email Template</span>
              <jhi-sort-indicator
                :current-order="propOrder"
                :reverse="reverse"
                :field-name="'defaultEmailTemplate.id'"
              ></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('shop.name')">
              <span v-text="$t('slm2App.shopEmailTemplate.shop')">Shop</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'shop.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="shopEmailTemplate in shopEmailTemplates" :key="shopEmailTemplate.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ShopEmailTemplateView', params: { shopEmailTemplateId: shopEmailTemplate.id } }">{{
                shopEmailTemplate.id
              }}</router-link>
            </td>
            <td>{{ shopEmailTemplate.subject }}</td>
            <td>{{ shopEmailTemplate.header }}</td>
            <td>{{ shopEmailTemplate.body }}</td>
            <td>{{ shopEmailTemplate.footer }}</td>
            <td>{{ shopEmailTemplate.replyTo }}</td>
            <td>{{ shopEmailTemplate.createdBy }}</td>
            <td>{{ shopEmailTemplate.createdDate ? $d(Date.parse(shopEmailTemplate.createdDate), 'short') : '' }}</td>
            <td>{{ shopEmailTemplate.lastModifiedBy }}</td>
            <td>{{ shopEmailTemplate.lastModifiedDate ? $d(Date.parse(shopEmailTemplate.lastModifiedDate), 'short') : '' }}</td>
            <td>{{ shopEmailTemplate.version }}</td>
            <td>
              <div v-if="shopEmailTemplate.defaultEmailTemplate">
                <router-link
                  :to="{ name: 'DefaultEmailTemplateView', params: { defaultEmailTemplateId: shopEmailTemplate.defaultEmailTemplate.id } }"
                  >{{ shopEmailTemplate.defaultEmailTemplate.id }}</router-link
                >
              </div>
            </td>
            <td>
              <div v-if="shopEmailTemplate.shop">
                <router-link :to="{ name: 'ShopView', params: { shopId: shopEmailTemplate.shop.id } }">{{
                  shopEmailTemplate.shop.name
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ShopEmailTemplateView', params: { shopEmailTemplateId: shopEmailTemplate.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ShopEmailTemplateEdit', params: { shopEmailTemplateId: shopEmailTemplate.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(shopEmailTemplate)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="slm2App.shopEmailTemplate.delete.question"
          data-cy="shopEmailTemplateDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-shopEmailTemplate-heading" v-text="$t('slm2App.shopEmailTemplate.delete.question', { id: removeId })">
          Are you sure you want to delete this Shop Email Template?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-shopEmailTemplate"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeShopEmailTemplate()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="shopEmailTemplates && shopEmailTemplates.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop-email-template.component.ts"></script>
