<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.shopEmailTemplate.home.createOrEditLabel"
          data-cy="ShopEmailTemplateCreateUpdateHeading"
          v-text="$t('slm2App.shopEmailTemplate.home.createOrEditLabel')"
        >
          Create or edit a ShopEmailTemplate
        </h2>
        <div>
          <div class="form-group" v-if="shopEmailTemplate.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="shopEmailTemplate.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.subject')" for="shop-email-template-subject"
              >Subject</label
            >
            <input
              type="text"
              class="form-control"
              name="subject"
              id="shop-email-template-subject"
              data-cy="subject"
              :class="{ valid: !$v.shopEmailTemplate.subject.$invalid, invalid: $v.shopEmailTemplate.subject.$invalid }"
              v-model="$v.shopEmailTemplate.subject.$model"
              required
            />
            <div v-if="$v.shopEmailTemplate.subject.$anyDirty && $v.shopEmailTemplate.subject.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopEmailTemplate.subject.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.header')" for="shop-email-template-header"
              >Header</label
            >
            <textarea
              class="form-control"
              name="header"
              id="shop-email-template-header"
              data-cy="header"
              :class="{ valid: !$v.shopEmailTemplate.header.$invalid, invalid: $v.shopEmailTemplate.header.$invalid }"
              v-model="$v.shopEmailTemplate.header.$model"
              required
            ></textarea>
            <div v-if="$v.shopEmailTemplate.header.$anyDirty && $v.shopEmailTemplate.header.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopEmailTemplate.header.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.body')" for="shop-email-template-body">Body</label>
            <textarea
              class="form-control"
              name="body"
              id="shop-email-template-body"
              data-cy="body"
              :class="{ valid: !$v.shopEmailTemplate.body.$invalid, invalid: $v.shopEmailTemplate.body.$invalid }"
              v-model="$v.shopEmailTemplate.body.$model"
              required
            ></textarea>
            <div v-if="$v.shopEmailTemplate.body.$anyDirty && $v.shopEmailTemplate.body.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopEmailTemplate.body.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.footer')" for="shop-email-template-footer"
              >Footer</label
            >
            <textarea
              class="form-control"
              name="footer"
              id="shop-email-template-footer"
              data-cy="footer"
              :class="{ valid: !$v.shopEmailTemplate.footer.$invalid, invalid: $v.shopEmailTemplate.footer.$invalid }"
              v-model="$v.shopEmailTemplate.footer.$model"
              required
            ></textarea>
            <div v-if="$v.shopEmailTemplate.footer.$anyDirty && $v.shopEmailTemplate.footer.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopEmailTemplate.footer.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.replyTo')" for="shop-email-template-replyTo"
              >Reply To</label
            >
            <input
              type="text"
              class="form-control"
              name="replyTo"
              id="shop-email-template-replyTo"
              data-cy="replyTo"
              :class="{ valid: !$v.shopEmailTemplate.replyTo.$invalid, invalid: $v.shopEmailTemplate.replyTo.$invalid }"
              v-model="$v.shopEmailTemplate.replyTo.$model"
              required
            />
            <div v-if="$v.shopEmailTemplate.replyTo.$anyDirty && $v.shopEmailTemplate.replyTo.$invalid">
              <small class="form-text text-danger" v-if="!$v.shopEmailTemplate.replyTo.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.createdBy')" for="shop-email-template-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="shop-email-template-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.shopEmailTemplate.createdBy.$invalid, invalid: $v.shopEmailTemplate.createdBy.$invalid }"
              v-model="$v.shopEmailTemplate.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.createdDate')" for="shop-email-template-createdDate"
              >Created Date</label
            >
            <div class="d-flex">
              <input
                id="shop-email-template-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.shopEmailTemplate.createdDate.$invalid, invalid: $v.shopEmailTemplate.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.shopEmailTemplate.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.shopEmailTemplate.lastModifiedBy')"
              for="shop-email-template-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="shop-email-template-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.shopEmailTemplate.lastModifiedBy.$invalid, invalid: $v.shopEmailTemplate.lastModifiedBy.$invalid }"
              v-model="$v.shopEmailTemplate.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.shopEmailTemplate.lastModifiedDate')"
              for="shop-email-template-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="shop-email-template-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.shopEmailTemplate.lastModifiedDate.$invalid, invalid: $v.shopEmailTemplate.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.shopEmailTemplate.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.version')" for="shop-email-template-version"
              >Version</label
            >
            <input
              type="number"
              class="form-control"
              name="version"
              id="shop-email-template-version"
              data-cy="version"
              :class="{ valid: !$v.shopEmailTemplate.version.$invalid, invalid: $v.shopEmailTemplate.version.$invalid }"
              v-model.number="$v.shopEmailTemplate.version.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('slm2App.shopEmailTemplate.defaultEmailTemplate')"
              for="shop-email-template-defaultEmailTemplate"
              >Default Email Template</label
            >
            <select
              class="form-control"
              id="shop-email-template-defaultEmailTemplate"
              data-cy="defaultEmailTemplate"
              name="defaultEmailTemplate"
              v-model="shopEmailTemplate.defaultEmailTemplate"
              required
            >
              <option v-if="!shopEmailTemplate.defaultEmailTemplate" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  shopEmailTemplate.defaultEmailTemplate && defaultEmailTemplateOption.id === shopEmailTemplate.defaultEmailTemplate.id
                    ? shopEmailTemplate.defaultEmailTemplate
                    : defaultEmailTemplateOption
                "
                v-for="defaultEmailTemplateOption in defaultEmailTemplates"
                :key="defaultEmailTemplateOption.id"
              >
                {{ defaultEmailTemplateOption.id }}
              </option>
            </select>
          </div>
          <div v-if="$v.shopEmailTemplate.defaultEmailTemplate.$anyDirty && $v.shopEmailTemplate.defaultEmailTemplate.$invalid">
            <small
              class="form-text text-danger"
              v-if="!$v.shopEmailTemplate.defaultEmailTemplate.required"
              v-text="$t('entity.validation.required')"
            >
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.shopEmailTemplate.shop')" for="shop-email-template-shop">Shop</label>
            <select class="form-control" id="shop-email-template-shop" data-cy="shop" name="shop" v-model="shopEmailTemplate.shop" required>
              <option v-if="!shopEmailTemplate.shop" v-bind:value="null" selected></option>
              <option
                v-bind:value="shopEmailTemplate.shop && shopOption.id === shopEmailTemplate.shop.id ? shopEmailTemplate.shop : shopOption"
                v-for="shopOption in shops"
                :key="shopOption.id"
              >
                {{ shopOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.shopEmailTemplate.shop.$anyDirty && $v.shopEmailTemplate.shop.$invalid">
            <small class="form-text text-danger" v-if="!$v.shopEmailTemplate.shop.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.shopEmailTemplate.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./shop-email-template-update.component.ts"></script>
