<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="shopEmailTemplate">
        <h2 class="jh-entity-heading" data-cy="shopEmailTemplateDetailsHeading">
          <span v-text="$t('slm2App.shopEmailTemplate.detail.title')">ShopEmailTemplate</span> {{ shopEmailTemplate.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.subject')">Subject</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.subject }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.header')">Header</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.header }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.body')">Body</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.body }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.footer')">Footer</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.footer }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.replyTo')">Reply To</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.replyTo }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="shopEmailTemplate.createdDate">{{ $d(Date.parse(shopEmailTemplate.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="shopEmailTemplate.lastModifiedDate">{{ $d(Date.parse(shopEmailTemplate.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.version')">Version</span>
          </dt>
          <dd>
            <span>{{ shopEmailTemplate.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.defaultEmailTemplate')">Default Email Template</span>
          </dt>
          <dd>
            <div v-if="shopEmailTemplate.defaultEmailTemplate">
              <router-link
                :to="{ name: 'DefaultEmailTemplateView', params: { defaultEmailTemplateId: shopEmailTemplate.defaultEmailTemplate.id } }"
                >{{ shopEmailTemplate.defaultEmailTemplate.id }}</router-link
              >
            </div>
          </dd>
          <dt>
            <span v-text="$t('slm2App.shopEmailTemplate.shop')">Shop</span>
          </dt>
          <dd>
            <div v-if="shopEmailTemplate.shop">
              <router-link :to="{ name: 'ShopView', params: { shopId: shopEmailTemplate.shop.id } }">{{
                shopEmailTemplate.shop.name
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="shopEmailTemplate.id"
          :to="{ name: 'ShopEmailTemplateEdit', params: { shopEmailTemplateId: shopEmailTemplate.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shop-email-template-details.component.ts"></script>
