<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="orderItem">
        <h2 class="jh-entity-heading" data-cy="orderItemDetailsHeading">
          <span v-text="$t('slm2App.orderItem.detail.title')">OrderItem</span> {{ orderItem.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('slm2App.orderItem.notes')">Notes</span>
          </dt>
          <dd>
            <span>{{ orderItem.notes }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('slm2App.OrderItemStatus.' + orderItem.status)">{{ orderItem.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.productTypeIdentifier')">Product Type Identifier</span>
          </dt>
          <dd>
            <span>{{ orderItem.productTypeIdentifier }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ orderItem.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.createdDate')">Created Date</span>
          </dt>
          <dd>
            <span v-if="orderItem.createdDate">{{ $d(Date.parse(orderItem.createdDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.lastModifiedBy')">Last Modified By</span>
          </dt>
          <dd>
            <span>{{ orderItem.lastModifiedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.lastModifiedDate')">Last Modified Date</span>
          </dt>
          <dd>
            <span v-if="orderItem.lastModifiedDate">{{ $d(Date.parse(orderItem.lastModifiedDate), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.version')">Version</span>
          </dt>
          <dd>
            <span>{{ orderItem.version }}</span>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.productType')">Product Type</span>
          </dt>
          <dd>
            <div v-if="orderItem.productType">
              <router-link :to="{ name: 'ProductTypeView', params: { productTypeId: orderItem.productType.id } }">{{
                orderItem.productType.saneName
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.order')">Order</span>
          </dt>
          <dd>
            <div v-if="orderItem.order">
              <router-link :to="{ name: 'OrderView', params: { orderId: orderItem.order.id } }">{{ orderItem.order.orderNo }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('slm2App.orderItem.product')">Product</span>
          </dt>
          <dd>
            <div v-if="orderItem.product">
              <router-link :to="{ name: 'ProductView', params: { productId: orderItem.product.id } }">{{
                orderItem.product.product
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="orderItem.id"
          :to="{ name: 'OrderItemEdit', params: { orderItemId: orderItem.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./order-item-details.component.ts"></script>
