<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="slm2App.orderItem.home.createOrEditLabel"
          data-cy="OrderItemCreateUpdateHeading"
          v-text="$t('slm2App.orderItem.home.createOrEditLabel')"
        >
          Create or edit a OrderItem
        </h2>
        <div>
          <div class="form-group" v-if="orderItem.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="orderItem.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.notes')" for="order-item-notes">Notes</label>
            <input
              type="text"
              class="form-control"
              name="notes"
              id="order-item-notes"
              data-cy="notes"
              :class="{ valid: !$v.orderItem.notes.$invalid, invalid: $v.orderItem.notes.$invalid }"
              v-model="$v.orderItem.notes.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.status')" for="order-item-status">Status</label>
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.orderItem.status.$invalid, invalid: $v.orderItem.status.$invalid }"
              v-model="$v.orderItem.status.$model"
              id="order-item-status"
              data-cy="status"
              required
            >
              <option
                v-for="orderItemStatus in orderItemStatusValues"
                :key="orderItemStatus"
                v-bind:value="orderItemStatus"
                v-bind:label="$t('slm2App.OrderItemStatus.' + orderItemStatus)"
              >
                {{ orderItemStatus }}
              </option>
            </select>
            <div v-if="$v.orderItem.status.$anyDirty && $v.orderItem.status.$invalid">
              <small class="form-text text-danger" v-if="!$v.orderItem.status.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.productTypeIdentifier')" for="order-item-productTypeIdentifier"
              >Product Type Identifier</label
            >
            <input
              type="text"
              class="form-control"
              name="productTypeIdentifier"
              id="order-item-productTypeIdentifier"
              data-cy="productTypeIdentifier"
              :class="{ valid: !$v.orderItem.productTypeIdentifier.$invalid, invalid: $v.orderItem.productTypeIdentifier.$invalid }"
              v-model="$v.orderItem.productTypeIdentifier.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.createdBy')" for="order-item-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="order-item-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.orderItem.createdBy.$invalid, invalid: $v.orderItem.createdBy.$invalid }"
              v-model="$v.orderItem.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.createdDate')" for="order-item-createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="order-item-createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                :class="{ valid: !$v.orderItem.createdDate.$invalid, invalid: $v.orderItem.createdDate.$invalid }"
                :value="convertDateTimeFromServer($v.orderItem.createdDate.$model)"
                @change="updateInstantField('createdDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.lastModifiedBy')" for="order-item-lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="order-item-lastModifiedBy"
              data-cy="lastModifiedBy"
              :class="{ valid: !$v.orderItem.lastModifiedBy.$invalid, invalid: $v.orderItem.lastModifiedBy.$invalid }"
              v-model="$v.orderItem.lastModifiedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.lastModifiedDate')" for="order-item-lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="order-item-lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                :class="{ valid: !$v.orderItem.lastModifiedDate.$invalid, invalid: $v.orderItem.lastModifiedDate.$invalid }"
                :value="convertDateTimeFromServer($v.orderItem.lastModifiedDate.$model)"
                @change="updateInstantField('lastModifiedDate', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.version')" for="order-item-version">Version</label>
            <input
              type="number"
              class="form-control"
              name="version"
              id="order-item-version"
              data-cy="version"
              :class="{ valid: !$v.orderItem.version.$invalid, invalid: $v.orderItem.version.$invalid }"
              v-model.number="$v.orderItem.version.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.productType')" for="order-item-productType">Product Type</label>
            <select
              class="form-control"
              id="order-item-productType"
              data-cy="productType"
              name="productType"
              v-model="orderItem.productType"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  orderItem.productType && productTypeOption.id === orderItem.productType.id ? orderItem.productType : productTypeOption
                "
                v-for="productTypeOption in productTypes"
                :key="productTypeOption.id"
              >
                {{ productTypeOption.saneName }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.order')" for="order-item-order">Order</label>
            <select class="form-control" id="order-item-order" data-cy="order" name="order" v-model="orderItem.order" required>
              <option v-if="!orderItem.order" v-bind:value="null" selected></option>
              <option
                v-bind:value="orderItem.order && orderOption.id === orderItem.order.id ? orderItem.order : orderOption"
                v-for="orderOption in orders"
                :key="orderOption.id"
              >
                {{ orderOption.orderNo }}
              </option>
            </select>
          </div>
          <div v-if="$v.orderItem.order.$anyDirty && $v.orderItem.order.$invalid">
            <small class="form-text text-danger" v-if="!$v.orderItem.order.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('slm2App.orderItem.product')" for="order-item-product">Product</label>
            <select class="form-control" id="order-item-product" data-cy="product" name="product" v-model="orderItem.product">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="orderItem.product && productOption.id === orderItem.product.id ? orderItem.product : productOption"
                v-for="productOption in products"
                :key="productOption.id"
              >
                {{ productOption.product }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.orderItem.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./order-item-update.component.ts"></script>
